<footer class="flat-footer">
  <div class="grid-container">
    <div class="flat-footer__inner">
      {{> logo type='logo'}}
        <ul class="flat-footer__nav show-for-medium">
          <li><a class="flat-footer__nav-link" href="">Направления</a></li>
          <li><a class="flat-footer__nav-link"  href="">УЗИ</a></li>
          <li><a class="flat-footer__nav-link"  href="">Анализы</a></li>
          <li><a class="flat-footer__nav-link"  href="">Наши доктора</a></li>
          <li><a class="flat-footer__nav-link"  href="">Контакты</a></li>
          <li><a class="flat-footer__nav-link"  href="">Контролирующие организации</a></li>
          <li><a class="flat-footer__nav-link"  href="">Лицензии</a></li>
        </ul>
      <p>© 2016 МОЦ «Галиум»</p>
    </div>
  </div>
</footer>
