@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?sxol64');
  src: url('../fonts/icomoon.eot?sxol64#iefix') format("embedded-opentype"), url('../fonts/icomoon.ttf?sxol64') format("truetype"), url('../fonts/icomoon.woff?sxol64') format("woff"), url('../fonts/icomoon.svg?sxol64#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info-circle:before {
  content: "\f05a";
}
.icon-exclamation:before {
  content: "\e90f";
}
.icon-question:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e916";
}
.icon-menu:before {
  content: "\e914";
}
.icon-list:before {
  content: "\e915";
}
.icon-chat:before {
  content: "\e911";
}
.icon-comments:before {
  content: "\e912";
}
.icon-iphone:before {
  content: "\e913";
}
.icon-discount:before {
  content: "\e900";
}
.icon-expert-doc:before {
  content: "\e917";
}
.icon-spine2:before {
  content: "\e901";
}
.icon-analizi:before {
  content: "\e902";
}
.icon-health-care:before {
  content: "\e903";
}
.icon-medical-massage:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-spine:before {
  content: "\e906";
}
.icon-uzi:before {
  content: "\e907";
}
.icon-write:before {
  content: "\e908";
}
.icon-clock:before {
  content: "\e909";
}
.icon-forward:before {
  content: "\e90a";
}
.icon-envelope:before {
  content: "\e90b";
}
.icon-cog:before {
  content: "\e90c";
}
.icon-map-marker:before {
  content: "\e90d";
}
.icon-eye:before {
  content: "\e90e";
}
