$section-margin: 5em;

html {
  // adds scroll on reveal
  // overflow-y: scroll;
}
body {
  height: 100%;
  background: $medium-gray;
  position: relative;

  // fix for blocky-slider
  overflow-x: hidden;
}


.main-header {
      background: $light-gray;
}



.divider {
      margin: 4em 0;
      border-bottom: 1px solid $light-gray;
}


.section {
      margin-bottom: $section-margin;

      &--first {
            margin-top: $section-margin;
      }
}

.thankyou-area {
  background: $white;
}

.breadcrumbs-area {
  background: $medium-gray;
}


.departament-area {
  background: $medium-gray;
  padding: 2em 0;
}

.doc-area {
  background: $medium-gray;
}

.doctors-area {
  background: $medium-gray;
  padding: 4em 0;
  margin-bottom: 20em;
}

.price-area {
  margin-bottom: 20em;
}

.testimonials-area {
  background: $medium-gray;
  margin-bottom: 20em;
}

.procedur-area {
  margin-bottom: 20em;
}

.map-n-contacts-area {
  background: $medium-gray;
}

.flat-footer {
  background: $black;
  color: $white;
  z-index: 0;
  height: 500px;
  padding: 300px 0 200px 0;
}

.galium-map {
  filter: grayscale(50%);
}

// appointment form

.appointment-form {

  &__area {
    background: $white;
    padding: 4em 3em;
    box-shadow: 0 2px 10px rgba($black, 0.2);
  }

  &__title {
    font-weight: bold;
    margin-bottom: 0;
  }


  &__textarea {
    height: 138px !important;
  }

}


.discount {

  display: flex;
  align-items: center;


  &__value {
    font-weight: bold;
    color: $white;
    font-size: 1.4em;
    margin-left: 1em;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 2;
    outline: none;

      &:after {
        content: "\e919";
        font-family: 'icomoon';
        position: absolute;
        color: lighten($primary-color, 50%);
        right: 0;
        font-size: 1.4em;
        z-index: -1;
      }
  }

}


.knb--textarea {
  margin-top: 1em;
  border-top-right-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
}


.knb {
  background: linear-gradient(to left, $secondary-color, darken($secondary-color, 10%));
  color: $white;
  border: 2px solid transparent;
  border-radius: $global-radius;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;

  &--appointment {
    display: flex;
    width: 100%;
    cursor: pointer;

      &:before {
        font-family: 'icomoon';
        content: "\e908";
        padding-right: .5em;
      }

  }


  &--textarea {
    margin-top: 1em;
    border-radius: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
  }

  &:hover {
    background: $white;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    transition: linear .3s;
  }

  &:hover .knb__icon {
    color: $secondary-color;
    transition: linear .3s;
  }

    &__icon {
      margin-right: .5em;
    }
}

.flat-footer {
  text-align: center;
  color: $medium-gray;
  font-size: .9em;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__nav-link {
    padding: 2rem 1rem;
    display: flex;
    color: $medium-gray;

    &:hover, &:active, &:focus  {
      color: $medium-gray;
    }
  }
}



.nomargin {
  margin: 0;
}

// breadcrumbs separator

.breadcrumbs {

  & li {

  }

  & a {
    &:hover {
      text-decoration: none;
    }
  }
}

.breadcrumbs li:not(:last-child)::after {
    font-family: 'icomoon';
    content: "\e90a";
}


// pricebox

.pricebox {
  margin-top: 2em;
  padding: 2em;
  box-shadow: 0 2px 10px rgba($black, 0.1);
  background: $white;
}

// galium-call

.galium-call {
  margin-top: 2em;
  background: $white;
  display: flex;
  align-items: center;
  padding: 2em;
  font-weight: bold;
  font-size: 1.2em;
  color: $black;
}


.icon-galium-cross {
  font-size: 2em;
  color: $secondary-color;
}

// thankyou

.thankyou {

  &__imgbox {
    background: url('../img/thankyou.jpg')  no-repeat top center;
    background-size: cover;
    background-color: $white;
    min-height: calc(100vh - 95px);
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 95px);
  }
}




// working-hours

.working-hours {
  padding-top: 2em;
  // border-top: 1px solid lighten($primary-color, 60%);

  &--blue {
    color: lighten($primary-color, 60%);
  }

  &__inner {
    display: flex;
  }

  &__schedule {
    width: 100%;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: .8em 0;
    border-bottom: 1px dotted lighten($primary-color, 60%);
  }

  &__time {

  }

  &__icon {
    font-size: 2em;
    margin-right: .5em;
    color: lighten($primary-color, 60%);
  }
}

// acc-tabs

.acc-tabs__title {

  font-weight: bold;
  font-size: 1.2em;

  @include breakpoint(medium down) {
    display: none;
  }
}

#acc-tabs {

  .tabs-title {

    background: $light-gray;
    border-bottom: 1px dotted $dark-gray;

    &.is-active > a {
      background: $white;
      font-weight: bold;
    }

    & > a {
      font-size: 1em;
      padding: 1em;

      &::before {
        font-family: 'icomoon';
        content: "\e90a";
        color: $dark-gray;
        padding-right: .7em;
        font-size: .7em;
      }
    }
  }

  .accordion-item > a {
    font-size: .9em;
  }
}

.tabs-content {
  background: $white !important;
}


// phone-appointment

.phone-appointment {


    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      margin: 3em 0;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      padding-right: .5em;
    }

    &__icon {
      font-size: 2em;
      margin-right: .5em;
      color: lighten($primary-color, 60%);
    }

    &__spans {
      display: flex;
      flex-direction: column;
    }
}
