$section-margin: 5em;


body {
  height: 100%;

  // fix for blocky-slider
  overflow-x: hidden;
}
.main-header {
      background: $light-gray;
}



.divider {
      margin: 4em 0;
      border-bottom: 1px solid $light-gray;
}


.section {
      margin-bottom: $section-margin;

      &--first {
            margin-top: $section-margin;
      }
}

.departament-area {
  background: $light-gray;
  padding: 4em 0;
}

.doctors-area {
  background: $light-gray;
  padding: 4em 0;
}

.price-area {
  margin-bottom: 20em;
}

.flat-footer {
  background: $black;
  color: $white;
  z-index: 0;
  height: 500px;
  padding: 300px 0 200px 0;
}

.galium-map {
    z-index: -2;
}


.main-screen {
  position: relative;
    // background: url('../img/screen-shape.png')  no-repeat top center, linear-gradient(to bottom, $primary-color, lighten($primary-color,
  background: url('../img/screen-shape.png')  no-repeat top center;
  background-color: $primary-color;
  background-size: cover;
  overflow: hidden;
  height: 100vh;

  &__left {
    height: calc(100vh - 90px);
    color: $white;
    display: flex;
    align-items: center;
    color: $white;
  }

  &__right {
    height: calc(100vh - 90px);;
    display: flex;
    align-items: center;
  }
}

// appointment form

.appointment-form {

  &__area {
    background: $white;
    padding: 4em 3em;
    box-shadow: 0 2px 10px rgba($black, 0.2);
  }

  &__title {
    font-weight: bold;
    margin-bottom: 1em;
  }

  &__textarea {
    height: 138px !important;
  }

}



.knb--textarea {
  margin-top: 1em;
  border-top-right-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
}


.knb {
  background: linear-gradient(to left, $secondary-color, darken($secondary-color, 10%));
  color: $white;
  border: 2px solid transparent;
  border-radius: $global-radius;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;

  &--appointment {
    display: flex;
    width: 100%;
    cursor: pointer;

      &:before {
        font-family: 'icomoon';
        content: "\e908";
        padding-right: .5em;
      }

  }


  &--textarea {
    margin-top: 1em;
    border-radius: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
  }

  &:hover {
    background: $white;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    transition: linear .3s;
  }

  &:hover .knb__icon {
    color: $secondary-color;
    transition: linear .3s;
  }

    &__icon {
      margin-right: .5em;
    }
}

.flat-footer {
  text-align: center;
  color: $medium-gray;
  font-size: .9em;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__nav-link {
    padding: 2rem 1rem;
    display: flex;
    color: $medium-gray;

    &:hover, &:active, &:focus  {
      color: $medium-gray;
    }
  }
}



.nomargin {
  margin: 0;
}
// docmodal

.docmodal {

  padding: 3em 0;
  position: relative;

  &__inner {
    background: $white;
    z-index: 10;
  }


  &__title {
    text-align: center;
    font-size: 1em;
  }

  &__card {
    display: flex;
    background: $light-gray;
    padding: 3em;
  }

  &__form {
    margin-top: 2em;

    &--last-input {
      margin: 0;
    }
  }

  &__note {
    color: $dark-gray;
    display: block;
    margin: 1em 0 2em;
  }

  &__note-icon {
    padding-right: .5em;
  }

  &__close {
    background: transparent;
    cursor: pointer;
    width: 3em;
    height: 3em;
    font-size: 1.2em;
    position: absolute;
    top: 0;
    right: 0;
  }
}


// discount

.discount {
  background: url('../img/screen-shape.png')  no-repeat center center;
  background-color: $primary-color;
  background-size: cover;
  padding: 4em 0;
  // margin-top: -400px;
  z-index: -1;
  color: $white;

  &__accent {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -.05em;
  }
}




// price table

.dataTables_length {
  display: none;
}

.dataTables_filter input[type="search"] {
  position: relative !important;

  &:before {
    font-family: 'icomoon';
    content: "\e908";
    padding-right: .5em;
    color: $black;
    z-index: 9999;
  }
}



.dataTables_paginate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.paginate_button {

  margin-left: 1em;
  border: 1px solid $medium-gray;
  border-radius: 10px;
  padding: .8em;

  &.current {
    border: 1px solid $medium-gray;
    background: $light-gray;

    &:hover {

    }
  }

  &.disabled {
    color: $medium-gray;
    border: none;

    &:hover, &:active {

    }
  }

  &:hover {

  }

  &:active {

  }

  &.next {
    border: none;
  }

  &.previous {
    border: none;
  }
}
