<table class="price-table stack">
  <thead>
    <tr>
      <th>Услуга</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Регистрация и расшифровка ЭКГ</td>
      <td>300</td>
    </tr>
    <tr>
      <td>Суточное мониторирование ЭКГ</td>
      <td>1300</td>
    </tr>
    <tr>
      <td>Суточное мониторирование АД</td>
      <td>1100</td>
    </tr>
    <tr>
      <td>Суточное мониторирование ЭКГ и АД</td>
      <td>2200</td>
    </tr>
    <tr>
      <td>3-х суточное мониторирование ЭКГ</td>
      <td>2600</td>
    </tr>
    <tr>
      <td>Суточное мониторирование ЭКГ у пациента с постоянной ЭКС</td>
      <td>2000</td>
    </tr>
  </tbody>
</table>
