<table class="price-table stack">
  <thead>
    <tr>
      <th>Услуга</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Осмотр и консультация в помещении центра </td>
      <td>600</td>
    </tr>
    <tr>
      <td>Повторная консультация в помещении центра</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Исследование мазка на флору</td>
      <td>250</td>
    </tr>
    <tr>
      <td>Исследование мазка на цитологию</td>
      <td>250</td>
    </tr>
    <tr>
      <td>Забор мазка</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Санация влагалища</td>
      <td>300</td>
    </tr>
    <tr>
      <td>Забор урогенитального мазка на ИППП</td>
      <td>300</td>
    </tr>
    <tr>
      <td>Введение тампона с лекарственным препаратом</td>
      <td>600</td>
    </tr>
    <tr>
      <td>Удаление ВМС</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Кольпоскопия</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Биопсия шейки матки с гистологическим анализом</td>
      <td>2000</td>
    </tr>
    <tr>
      <td>Расширенная биопсия шейки матки с гистологическим анализом</td>
      <td>3400</td>
    </tr>
    <tr>
      <td>Диатермокоагуляция</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Гистологическое исследование аспирата из полости матки (Пайпель диагностика) </td>
      <td>2000</td>
    </tr>
    <tr>
      <td>Обработка после диатермокоагуляции/биопсии/солковагином </td>
      <td>300</td>
    </tr>
    <tr>
      <td>Удаление кондилом, папиллом</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Удаление полипа шейки матки + выскабливание ш/матки + гистологический анализ</td>
      <td>3800</td>
    </tr>
  </tbody>
</table>
