

<table class="price-table stack">
  <thead>
    <tr>
      <th>Услуга</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Массаж головы</td>
      <td>250</td>
    </tr>
    <tr>
      <td>Массаж лица</td>
      <td>250</td>
    </tr>
    <tr>
      <td>Массаж воротниковой зоны и шеи</td>
      <td>600</td>
    </tr>
    <tr>
      <td>Массаж верхних конечностей и плечевого сустава (1 конечность+1 сустав)</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Массаж верхних конечностей и локтевого сустава (1 конечность+1 сустав)</td>
      <td>450</td>
    </tr>
    <tr>
      <td>Массаж верхних конечностей и лучезапястного сустава (1конечность+1 сустав)</td>
      <td>450</td>
    </tr>
    <tr>
      <td>Массаж верхних конечностей, кисти и предплечья ( 1конечность+1 кисть+ 1предплечье)</td>
      <td>500</td>
    </tr>
    <tr>
      <td>Массаж области грудной клетки</td>
      <td>600</td>
    </tr>
    <tr>
      <td>Массаж мышц передней брюшной стенки</td>
      <td>600</td>
    </tr>
    <tr>
      <td>Массаж поясничной крестцовой области</td>
      <td>600</td>
    </tr>
    <tr>
      <td>Массаж спины и поясницы</td>
      <td>700</td>
    </tr>
    <tr>
      <td>Массаж шейного и грудного отделов позвоночника</td>
      <td>700</td>
    </tr>
    <tr>
      <td>Массаж спины и поясницы</td>
      <td>700</td>
    </tr>
    <tr>
      <td>Массаж шейного и грудного отделов позвоночника</td>
      <td>700</td>
    </tr>
    <tr>
      <td>Массаж шейного и грудного отделов позвоночника + поясничный отдел</td>
      <td>1000</td>
    </tr>
    <tr>
      <td>Массаж нижних конечностей (1 конечность)</td>
      <td>400</td>
    </tr>
    <tr>
      <td>Массаж нижних конечностей и тазобедренного сустава (1 конечность+1 сустав)</td>
      <td>600</td>
    </tr>
    <tr>
      <td>Массаж нижних конечностей и коленного сустава (1 конечность+1 сустав)</td>
      <td>550</td>
    </tr>
    <tr>
      <td>Массаж нижних конечностей и голеностопного сустава (1 конечность+1сустав)</td>
      <td>550</td>
    </tr>
    <tr>
      <td>Общий массаж (2 руки, 2 ноги, позвоночник)</td>
      <td>1500</td>
    </tr>
    <tr>
      <td>Массаж Лосева (весь лось)</td>
      <td>бесплатно</td>
    </tr>
  </tbody>
</table>
