
<table class="uzi-table stack">
  <thead>
    <tr>
      <th>Услуга</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Взятие крови из вены</td>
      <td>150</td>
    </tr>
    <tr>
      <td>Внутривенная инъекция</td>
      <td>200</td>
    </tr>
    <tr>
      <td>Внутримышечная, подкожная инъекция</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Внутривенная инфузия объемом до 200 мл</td>
      <td>200</td>
    </tr>
    <tr>
      <td>Внутривенная инфузия объемом до 300 мл</td>
      <td>250</td>
    </tr>
    <tr>
      <td>Внутривенная инфузия объемом до 400 мл</td>
      <td>300</td>
    </tr>
    <tr>
      <td>Внутривенная инфузия объемом до 500 мл</td>
      <td>350</td>
    </tr>
    <tr>
      <td>Внутривенная инфузия объемом до 600 мл</td>
      <td>400</td>
    </tr>
  </tbody>
</table>
