<table class="price-table stack">
  <thead>
    <tr>
      <th>Услуга</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>УЗИ щитовидной железы и шейных лимфатических узлов и цветное доплеровское картирование</td>
      <td>550</td>
    </tr>
    <tr>
      <td>УЗИ молочных желез и подмышечных лимфатических узлов</td>
      <td>650</td>
    </tr>
    <tr>
      <td>УЗИ слюнных желез и подчелюстных лимфатических узлов </td>
      <td>500</td>
    </tr>
    <tr>
      <td>УЗИ лимфатических узлов </td>
      <td>400</td>
    </tr>
    <tr>
      <td>УЗИ печени, желчного пузыря, желчных протоков, поджелудочной железы, почек, селезенки, надпочечников, забрюшинных лимфатических узлов.</td>
      <td>900</td>
    </tr>
    <tr>
      <td>УЗИ желчного пузыря </td>
      <td>400</td>
    </tr>
    <tr>
      <td>УЗИ желчного пузыря с определением функции</td>
      <td>500</td>
    </tr>
    <tr>
      <td>УЗИ поджелудочной железы</td>
      <td>300</td>
    </tr>
    <tr>
      <td>УЗИ селезенки</td>
      <td>300</td>
    </tr>
    <tr>
      <td>УЗИ органов малого таза наружным датчиком (трансабдоминально)</td>
      <td>550</td>
    </tr>
    <tr>
      <td>УЗИ органов малого таза внутриполостным датчиком</td>
      <td>550</td>
    </tr>
    <tr>
      <td>УЗИ почек, надпочечников, мочевого пузыря</td>
      <td>600</td>
    </tr>
    <tr>
      <td>УЗИ почек, надпочечников, мочевого пузыря, определение объема остаточной мочи</td>
      <td>700</td>
    </tr>
    <tr>
      <td>УЗИ почек, надпочечников</td>
      <td>500</td>
    </tr>
    <tr>
      <td>УЗИ почек, надпочечников, мочевого пузыря, предстательной железы, органов мошонки, определение объема остаточной мочи + ЦДК</td>
      <td>1500</td>
    </tr>
    <tr>
      <td>УЗИ предстательной железы, мочевого пузыря, определение объема остаточной мочи + ЦДК</td>
      <td>600</td>
    </tr>
    <tr>
      <td>УЗИ мочевого пузыря, определение объема остаточной мочи</td>
      <td>300</td>
    </tr>
    <tr>
      <td>УЗИ мочевого пузыря</td>
      <td>200</td>
    </tr>
    <tr>
      <td>УЗИ органов мошонки с ЦДК</td>
      <td>500</td>
    </tr>
    <tr>
      <td>УЗИ полового члена</td>
      <td>200</td>
    </tr>
    <tr>
      <td>Трансректальное исследование (TRUSI)</td>
      <td>600</td>
    </tr>
    <tr>
      <td>УЗИ сонных и позвоночных артерий</td>
      <td>1300</td>
    </tr>
    <tr>
      <td>ТКДГ (транскраниальная допплерография)</td>
      <td>700</td>
    </tr>
    <tr>
      <td>УЗИ почечных артерий</td>
      <td>1000</td>
    </tr>
    <tr>
      <td>УЗИ артерии подвздошно-бедренного сегмента</td>
      <td>600</td>
    </tr>
    <tr>
      <td>УЗИ артерий нижних (верхних) конечностей (1 конечность)</td>
      <td>1000</td>
    </tr>
    <tr>
      <td>УЗИ вен нижних конечностей (1 конечность)</td>
      <td>600</td>
    </tr>
    <tr>
      <td>УЗИ глубоких вен нижних конечностей (1 конечность)</td>
      <td>600</td>
    </tr>
    <tr>
      <td>УЗИ большой подкожной вены</td>
      <td>600</td>
    </tr>
    <tr>
      <td>УЗИ суставов коленных, мягких тканей (1 сустав/2 сустава)</td>
      <td>700/1000</td>
    </tr>
    <tr>
      <td>УЗИ тазобедренных суставов (1 сустав/2 сустава)</td>
      <td>700/1000</td>
    </tr>
    <tr>
      <td>УЗИ суставов плечевых, мягких тканей (1 сустав/2 сустава)</td>
      <td>700/1000</td>
    </tr>
    <tr>
      <td>УЗИ голеностопных суставов, мягких тканей (1 сустав/2 сустава)</td>
      <td>700/1000</td>
    </tr>
    <tr>
      <td>УЗИ лучезапястных суставов, мягких тканей (1 сустав/2 сустава)</td>
      <td>700/1000</td>
    </tr>
    <tr>
      <td>УЗИ локтевых суставов, мягких тканей (1 сустав/2 сустава</td>
      <td>700/1000</td>
    </tr>
    <tr>
      <td>УЗИ мягких тканей</td>
      <td>500</td>
    </tr>
    <tr>
      <td>УЗИ плевральной полости</td>
      <td>500</td>
    </tr>
    <tr>
      <td>УЗИ аорты</td>
      <td>600</td>
    </tr>
    <tr>
      <td>Эхокардиография с цветным доплеровским картированием</td>
      <td>1300</td>
    </tr>
  </tbody>
</table>
