<table class="price-table stack">
  <thead>
    <tr>
      <th>Услуга</th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>УЗИ щитовидной железы и шейных лимфатических узлов и цветное доплеровское картирование </td>
      <td>500</td>
    </tr>
    <tr>
      <td>УЗИ печени, желчного пузыря, поджелудочной железы, почек, селезенки, надпочечники, забрюшинных лимфатических узлов. </td>
      <td>800</td>
    </tr>
    <tr>
      <td>УЗИ вилочковой железы (тимус)</td>
      <td>600</td>
    </tr>
    <tr>
      <td>УЗИ почек, надпочечников, мочевого пузыря</td>
      <td>500</td>
    </tr>
    <tr>
      <td>УЗИ почек, мочевого пузыря, определение остаточной мочи</td>
      <td>700</td>
    </tr>
    <tr>
      <td>УЗИ суставов (1 сустав)</td>
      <td>600</td>
    </tr>
    <tr>
      <td>УЗИ суставов (2 сустава)</td>
      <td>1000</td>
    </tr>
    <tr>
      <td>Эхокардиография</td>
      <td>1100</td>
    </tr>
  </tbody>
</table>
