<!-- <div class="appointment-form__area">
  <h2 class="appointment-form__title">Запись на прием:</h2>
  <form class="appointment-form" action="https://formspree.io/rvwdude@gmail.com" method="POST">
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <select name="Направление" id="parent_selection">
            <option value="">Выберите направление</option>
            <option name="УЗИ" value="uzi">УЗИ</option>
            <option name="Кардиолог" value="cardiolog">Кардиолог</option>
            <option name="Терапевт" value="terapevt">Терапевт</option>
        </select>
      </div>
      <div class="medium-6 cell">
        <input type="text" name="Дата" class="appointment-form__date" placeholder="Дата">
      </div>
      <div class="medium-6 cell">
        <select name="Доктор" id="child_selection">
        </select>
      </div>
      <div class="medium-6 cell">
        <div>
          <input name="Время" class="clockpicker" type="text" class="" value="09:30">
        </div>
      </div>
      <div class="medium-6 cell">
        <input name="Имя пациента" type="text" placeholder="Полное имя">
        <input name="Телефон" type="text" placeholder="Телефон">
      </div>
      <div class="medium-6 cell">
        <textarea class="appointment-form__textarea"  name="Информация для врача" rows="4" cols="40"  placeholder="Информация для врача"></textarea>
      </div>
      <div class="medium-12 cell">
        <button class="knb knb--appointment" type="submit" name="_next" value="./" value="Записаться на прием">Записаться на прием</button>
      </div>
    </div>
  </form>
</div> -->

<!-- SHORT VERSION -->

<div class="appointment-form__area">

  <h2 class="appointment-form__title">Запись на прием:</h2>
  <form class="appointment-form" action="https://liveformhq.com/form/94c4e265-6174-4a92-abcf-bc3adfa3fb4a" method="POST" data-abide novalidate>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <label for="">Направление:
          <select name="Направление" id="parent_selection" required>
              <option value="">Выберите направление</option>
              <option name="УЗИ" value="uzi">УЗИ</option>
              <option name="Кардиолог" value="cardiolog">Кардиолог</option>
              <option name="Терапевт" value="terapevt">Терапевт</option>
          </select>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="">Выберите доктора:
          <select name="Доктор" id="child_selection">
          </select>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="">Дата приема:
          <input type="text" name="Дата" class="appointment-form__date" placeholder="Дата">
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="">Время примема:
          <input name="Время" class="clockpicker" type="text" class="" value="09:00">
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="">Ваше имя:
          <input name="Имя пациента" type="text" placeholder="Полное имя" required>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="">Номер телефона:
          <input id="main-phone" class="" name="Телефон" type="text" placeholder="Телефон" required>
        </label>
      </div>
      <div class="medium-12 cell">
        <input type="hidden" value="https://ya.ru" name="_redirect" />
        <button class="knb knb--appointment" type="submit">Записаться онлайн</button>
      </div>
    </div>
  </form>
</div>
