
<div class="appointment-form__area">
  <h2 class="appointment-form__title">Запись на прием:</h2>
  <form class="appointment-form" action="https://liveformhq.com/form/94c4e265-6174-4a92-abcf-bc3adfa3fb4a" method="POST" data-abide novalidate>
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <label for="">Направление:
          <select name="Направление" id="parent_selection" required>
              <option value="">Выберите направление</option>
              <option name="УЗИ" value="uzi">УЗИ</option>
              <option name="Гастроэнтеролог" value="gastroenterolog">Гастроэнтеролог</option>
              <option name="Гинеколог" value="ginecolog">Гинеколог</option>
              <option name="Гирудотерапевт" value="girudoterapevt">Гирудотерапевт</option>
              <option name="Кардиолог" value="cardiolog">Кардиолог</option>
              <option name="Функциональный диагност" value="func-diagnost">Функциональный диагност</option>
              <option name="Невролог" value="nevrolog">Невролог</option>
              <option name="Нейрохирург" value="neurohirurg">Нейрохирург</option>
              <option name="Ревматолог" value="revmatolog">Ревматолог</option>
              <option name="Терапевт" value="terapevt">Терапевт</option>
              <option name="Эндокринолог" value="endocrinolog">Эндокринолог</option>
          </select>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="">Выберите доктора:
          <select name="Доктор" id="child_selection">
          </select>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="">Дата приема:
          <input type="text" name="Дата" class="appointment-form__date" placeholder="Дата">
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="">Время примема:
          <input name="Время" class="clockpicker" type="text" class="" value="09:00">
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="">Ваше имя:
          <input name="Имя пациента" type="text" placeholder="Полное имя" required>
        </label>
      </div>
      <div class="medium-6 cell">
        <label for="">Номер телефона:
          <input id="main-phone" class="" name="Телефон" type="text" placeholder="Телефон" required>
        </label>
      </div>
      <div class="medium-12 cell">
        <input type="hidden" value="https://ya.ru" name="_redirect" />
        <button class="knb knb--appointment" type="submit">Записаться онлайн</button>
      </div>
    </div>
  </form>
</div>
