
<section class="departament-area">
  <div class="grid-container">
    <div class="grid-x">
      <div class="medium-6">
        <div class="departament__card">
          <div class="departament__iconbox">
            <span class="departament__icon icon-cog2"></span>
          </div>
          <h3 class="departament__title">Прием врачей:</h3>
          <ul class="departament__list">
            <li class="departament__list-item"><a href="">Кардиолог</a></li>
            <li class="departament__list-item"><a href="">Невролог</a></li>
            <li class="departament__list-item"><a href="">Терапевт</a></li>
            <li class="departament__list-item"><a href="">Гастроэнтеролог</a></li>
            <li class="departament__list-item"><a href="">Эндокринолог</a></li>
            <li class="departament__list-item"><a href="">Кардиолог</a></li>
            <li class="departament__list-item"><a href="">Невролог</a></li>
            <li class="departament__list-item"><a href="">Терапевт</a></li>
            <li class="departament__list-item"><a href="">Гастроэнтеролог</a></li>
            <li class="departament__list-item"><a href="">Эндокринолог</a></li>
            <li class="departament__list-item"><a href="">Гастроэнтеролог</a></li>
            <li class="departament__list-item"><a href="">Эндокринолог</a></li>
          </ul>
        </div>
      </div>
      <div class="medium-6">
        <div class="grid-x">
          <div class="medium-6">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-cog2"></span>
              </div>
              <h3 class="departament__title">Сделать УЗИ</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem!</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-chart2"></span>Подробности</a>
                <a class="departament__link" href="#"><span class="departament__icon-small icon-menu"></span>Цены</a>
              </div>
            </div>
          </div>
          <div class="medium-6">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-cog2"></span>
              </div>
              <h3 class="departament__title">Сдать Анализы</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem!</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-chart2"></span>Подробности</a>
                <a class="departament__link" href="#"><span class="departament__icon-small icon-menu"></span>Цены</a>
              </div>
            </div>
          </div>
          <div class="medium-6">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-cog2"></span>
              </div>
              <h3 class="departament__title">Лечение позвоночника</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem!</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-chart2"></span>Подробности</a>
                <a class="departament__link" href="#"><span class="departament__icon-small icon-menu"></span>Цены</a>
              </div>
            </div>
          </div>
          <div class="medium-6">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-cog2"></span>
              </div>
              <h3 class="departament__title">Медицинский массаж</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem!</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-chart2"></span>Подробности</a>
                <a class="departament__link" href="#"><span class="departament__icon-small icon-menu"></span>Цены</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
