
<section class="departament-area">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y">
      <div class="medium-12 cell">
        <div class="primary-title">
          <h2  class="primary-title__h" class="">Лечение</h2>
        </div>
        <div class="primary-title">
          <h2  class="primary-title__h" class="">и Диагностика</h2>
        </div>
      </div>
      <div class="medium-6 cell">
        <div class="departament__card">
          <div class="departament__iconbox">
            <span class="departament__icon icon-health-care"></span>
          </div>
          <h3 class="departament__title">Прием врачей:</h3>
          <div class="grid-x">
            <div class="medium-6 cell cell">
              <ul class="departament__list">
                <li class="departament__list-item"><a href="">Кардиолог</a></li>
                <li class="departament__list-item"><a href="">Невролог</a></li>
                <li class="departament__list-item"><a href="">Терапевт</a></li>
                <li class="departament__list-item"><a href="">Гастроэнтеролог</a></li>
                <li class="departament__list-item"><a href="">Эндокринолог</a></li>
                <li class="departament__list-item"><a href="">Кардиолог</a></li>
              </ul>
            </div>
            <div class="medium-6 cell cell">
              <ul class="departament__list">
                <li class="departament__list-item"><a href="">Невролог</a></li>
                <li class="departament__list-item"><a href="">Терапевт</a></li>
                <li class="departament__list-item"><a href="">Гастроэнтеролог</a></li>
                <li class="departament__list-item"><a href="">Эндокринолог</a></li>
                <li class="departament__list-item"><a href="">Гастроэнтеролог</a></li>
                <li class="departament__list-item"><a href="">Эндокринолог</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="medium-6 cell">
        <div class="grid-x grid-margin-x grid-margin-y">
          <div class="medium-6 cell">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-uzi"></span>
              </div>
              <h3 class="departament__title">Сделать УЗИ</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem!</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-info-circle"></span>Подробности</a>
                <a class="departament__link" href="#"><span class="departament__icon-small icon-list"></span>Цены</a>
              </div>
            </div>
          </div>
          <div class="medium-6 cell">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-analizi"></span>
              </div>
              <h3 class="departament__title">Сдать Анализы</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem!</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-info-circle"></span>Подробности</a>
                <a class="departament__link" href="#"><span class="departament__icon-small icon-list"></span>Цены</a>
              </div>
            </div>
          </div>
          <div class="medium-6 cell">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-spine2"></span>
              </div>
              <h3 class="departament__title">Лечение позвоночника</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem!</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-info-circle"></span>Подробности</a>
                <a class="departament__link" href="#"><span class="departament__icon-small icon-list"></span>Цены</a>
              </div>
            </div>
          </div>
          <div class="medium-6 cell">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-medical-massage"></span>
              </div>
              <h3 class="departament__title">Медицинский массаж</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem!</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-info-circle"></span>Подробности</a>
                <a class="departament__link" href="#"><span class="departament__icon-small icon-list"></span>Цены</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
