
<section id="departament-area" class="departament-area">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y"  data-equalizer>
      <div class="medium-12 cell">
        <div class="primary-title">
          <h2  class="primary-title__h" class="">Лечение</h2>
        </div>
        <div class="primary-title">
          <h2  class="primary-title__h" class="">и Диагностика</h2>
        </div>
      </div>
      <div class="large-6 medium-12 cell">
        <div class="departament__card"  data-equalizer-watch>
          <div class="departament__iconbox">
            <span class="departament__icon icon-health-care"></span>
          </div>
          <h3 class="departament__title">Прием врачей:</h3>
          <div class="grid-x">
            <div class="medium-6 cell cell">
              <ul class="departament__list">
                <li class="departament__list-item"><a href="http://localhost:8000/napr/gastro.html">Гастроэнтеролог</a></li>
                <li class="departament__list-item"><a href="http://localhost:8000/napr/gynecolog.html">Гинеколог</a></li>
                <li class="departament__list-item"><a href="http://localhost:8000/napr/girudo.html">Гирудотерапевт</a></li>
                <li class="departament__list-item"><a href="http://localhost:8000/napr/cardiolog.html">Кардиолог</a></li>
                <li class="departament__list-item"><a href="http://localhost:8000/napr/func-diagnost.html">Функциональный диагност</a></li>
                <li class="departament__list-item"><a href="http://localhost:8000/napr/nevrolog.html">Невролог</a></li>
              </ul>
            </div>
            <div class="medium-6 cell cell">
              <ul class="departament__list">
                <li class="departament__list-item"><a href="">Нейрохирург</a></li>
                <li class="departament__list-item"><a href="">Ревматолог</a></li>
                <li class="departament__list-item"><a href="">Терапевт</a></li>
                <li class="departament__list-item"><a href="">Эндокринолог</a></li>
                <li class="departament__list-item"><a href="">Процедурный кабинет</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="large-6 medium-12 cell"  data-equalizer-watch>
        <div class="grid-x grid-margin-x grid-margin-y">
          <div class="medium-6 small-12 cell">
            <a href="http://localhost:8000/napr/uzi.html">
              <div class="departament__card">
                <div class="departament__iconbox">
                  <span class="departament__icon icon-uzi"></span>
                </div>
                <h3 class="departament__title">Сделать УЗИ</h3>
                <p>УЗИ врослым, детям. УЗИ по гинекологии и беременности всех сроков.</p>
                <div class="departament__footer">
                  <a class="departament__link" href="#"><span class="departament__icon-small icon-info-circle"></span>Подробности</a>
                  <a class="departament__link" href="#"><span class="departament__icon-small icon-list"></span>Цены</a>
                </div>
              </div>
            </a>
          </div>
          <div class="medium-6 small-12 cell">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-analizi"></span>
              </div>
              <h3 class="departament__title">Сдать Анализы</h3>
              <p>Более 1000 видов анализов. Результаты на следующее утро.</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-info-circle"></span>Подробности</a>
                <a class="departament__link" href="#"><span class="departament__icon-small icon-list"></span>Цены</a>
              </div>
            </div>
          </div>
          <div class="medium-6 small-12 cell">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-spine2"></span>
              </div>
              <h3 class="departament__title">Лечение позвоночника</h3>
              <p>Лечение грыжи межпозвонкового диска без операции.</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-info-circle"></span>Подробности и <span class="departament__icon-small icon-list"></span>цены</a>
              </div>
            </div>
          </div>
          <div class="medium-6 small-12 cell">
            <div class="departament__card">
              <div class="departament__iconbox">
                <span class="departament__icon icon-medical-massage"></span>
              </div>
              <h3 class="departament__title">Медицинский массаж</h3>
              <p>Остеохондроз позвоночника, нарушения осанки, мышечно-тонические спазмы</p>
              <div class="departament__footer">
                <a class="departament__link" href="#"><span class="departament__icon-small icon-info-circle"></span>Подробности</a>
                <a class="departament__link" href="#"><span class="departament__icon-small icon-list"></span>Цены</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
