<div class="doc-testimonials__area">
  <div class="doc-testimonials">
    <div class="doc-testimonials__item">
      <div class="doc-testimonials__inner">
        <div class="doc-testimonials__rating">
          <i class="fas fa-star doc-testimonials__star"></i>
          <i class="fas fa-star doc-testimonials__star"></i>
          <i class="fas fa-star doc-testimonials__star"></i>
          <i class="fas fa-star doc-testimonials__star"></i>
        </div>
        <span class="doc-testimonials__text">
          Самый лучший врач УЗИ этого города Тамбова. Хотите быть уверенным в результате исследования, в том, что у вас не пропустили имеющуюся патологию, или не нашли того, чего нет, обращайтесь к Белоусовой. Сделала в одном году 5 УЗИ, и никто не обнаружил ничего, а Ольга Николаевна в один миг увидела (опухоль). Благодаря О.Н., я осталась жить, вовремя сделала операцию, Балл она заслуживает 10, при 10 бал. оценке. Спасибо огромное за такого специалиста.
        </span>
        <span class="doc-testimonials__patient">Генадий Орлов</span>
      </div>
    </div>
    <div class="doc-testimonials__item">
      <div class="doc-testimonials__inner">
        <div class="doc-testimonials__rating">
          <i class="fas fa-star doc-testimonials__star"></i>
          <i class="fas fa-star doc-testimonials__star"></i>
          <i class="fas fa-star doc-testimonials__star"></i>
          <i class="fas fa-star doc-testimonials__star"></i>
        </div>
        <span class="doc-testimonials__text">
          Хочу выразить слова благодарности в адрес врача УЗИ Белоусовой О. Н. Этот врач всегда дает надежду на выздоровление. Всегда приветлива, внимательна к нам, пациентам. На протяжении многих лет я наблюдаюсь у этого врача и остаюсь довольна обследованиями врача. Спасибо Вам большое, уважаемая Ольга Николаевна.
        </span>
        <span class="doc-testimonials__patient">Елена Синицина</span>
      </div>
    </div>
    <div class="doc-testimonials__item">
      <div class="doc-testimonials__inner">
        <div class="doc-testimonials__rating">
          <i class="fas fa-star doc-testimonials__star"></i>
          <i class="fas fa-star doc-testimonials__star"></i>
          <i class="fas fa-star doc-testimonials__star"></i>
          <i class="fas fa-star doc-testimonials__star"></i>
        </div>
        <span class="doc-testimonials__text">
          Была не раз на приёме, приятный и высококвалифицированный врач. Всё расскажет и покажет. Очень довольна приёмом и результатом исследования. Всем советую!
        </span>
        <span class="doc-testimonials__patient">Виталий Скворцов</span>
      </div>
    </div>
  </div>
  <div class="doc-testimonials__nav"></div>
</div>
