<div class="docform">
  <div class="docform__inner">
    <div class="docform__card">
      <div class="docform__imgbox">
        <img  class="docform__img" src="assets/img/doctor__belousova.jpg" alt="">
      </div>
      <div class="docform__infobox">
        <h3 class="docform__name">Белоусова Ольга Николаевна</h3>
        <span>Врач-УЗИ</span>
        <span>УЗИ от 250р.</span>
      </div>
    </div>
    <form action="" class="docform__form">
      <div class="grid-x">
        <div class="medium-8 medium-offset-2 cell">
          <label for="">Выберите доктора:
            <select name="Доктор" id="child_selection">
            </select>
          </label>
        </div>
        <div class="medium-8 medium-offset-2 cell">
          <label for="">Ваше имя:
            <input name="Имя пациента" type="text" placeholder="Полное имя">
          </label>
        </div>
        <div class="medium-8 medium-offset-2 cell">
          <label for="">Телефон для подтверждения записи:
            <input name="Телефон" type="tel" placeholder="Телефон">
          </label>
          <small class="docform__note"><span class="docform__note-icon icon-info-circle"></span>Оператор позвонит вам по этому номеру для подтверждения записи в течение 10 минут</small>
        </div>
        <div class="medium-8 medium-offset-2 cell">
          <button class="knb knb--appointment" type="submit" name="_next" value="./" value="Записаться на прием">Записаться на прием</button>
        </div>
      </div>
    </form>
  </div>
</div>
