<div class="medium-6 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img  class="doctor-card__img" src="assets/img/doctor__hazov.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Хазов Алексей Петрович</h3>
          <span>Врач-ревматолог</span>
          <span>Прием: 2000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span>Запись по телефону: <span class="doctor-card__icon icon-iphone"></span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="hazov" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="medium-6 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img  class="doctor-card__img" src="assets/img/doctor__belousova.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Белоусова Ольга Николаевна</h3>
          <span>Врач-УЗИ</span>
          <span>Прием: 2000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span>Запись по телефону: <span class="doctor-card__icon icon-iphone"></span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="belousova" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="medium-6 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img  class="doctor-card__img" src="assets/img/doctor__zaharova.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Захарова Алла Ивановна</h3>
          <span>Врач-гинеколог</span>
          <span>Прием: 2000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span>Запись по телефону: <span class="doctor-card__icon icon-iphone"></span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="zaharova" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="medium-6 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img  class="doctor-card__img" src="assets/img/doctor__rastrigina.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Расстрыгина Людмила Николаевна</h3>
          <span>Врач-УЗИ</span>
          <span>Прием: 2000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span>Запись по телефону: <span class="doctor-card__icon icon-iphone"></span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="rastrigina" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
