<div class="large-6 medium-12 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img  class="doctor-card__img" src="assets/img/doctor__zolotova.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Золотова Людмила Николаевна</h3>
          <span>Врач-гастроэнтеролог высшей категории</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span class="doctor-card__graytext">или по телефону: </span><span class="doctor-card__icon icon-iphone"></span><span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="zolotova" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="large-6 medium-12 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img  class="doctor-card__img" src="assets/img/doctor__arseneva.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Арсеньева Елена Борисовна</h3>
          <span>Врач-эндокринолог первой категории</span>
          <span>Прием: 1000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span class="doctor-card__graytext">или по телефону: </span><span class="doctor-card__icon icon-iphone"></span><span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="arseneva" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="large-6 medium-12 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img  class="doctor-card__img" src="assets/img/doctor__mazkevich.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Мацкевич Маргарита Леонидовна</h3>
          <span>Врач-невролог первой категории</span>
          <span>Прием: 1000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span class="doctor-card__graytext">или по телефону: </span><span class="doctor-card__icon icon-iphone"></span><span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="mazkevich" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="large-6 medium-12 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img class="doctor-card__img" src="assets/img/doctor__temarcev.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Темарцев Александр Александрович</h3>
          <span>Врач функциональной диагностики</span>
          <span>Прием: 1000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span class="doctor-card__graytext">или по телефону: </span><span class="doctor-card__icon icon-iphone"></span><span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="temarcev" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="large-6 medium-12 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img class="doctor-card__img" src="assets/img/doctor__batushkina.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Батушкина Валентина Петровна</h3>
          <span>Врач-гастроэнтеролог высшей категории</span>
          <span>Прием: 1000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span class="doctor-card__graytext">или по телефону: </span><span class="doctor-card__icon icon-iphone"></span><span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="batushkina" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="large-6 medium-12 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img class="doctor-card__img" src="assets/img/doctor__goncharova.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Гончарова Татьяна Васильевна</h3>
          <span>Врач-терапевт высшей категории</span>
          <span>Прием: 1000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span class="doctor-card__graytext">или по телефону: </span><span class="doctor-card__icon icon-iphone"></span><span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="goncharova" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="large-6 medium-12 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img class="doctor-card__img" src="assets/img/doctor__mohova.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Мохова Наталия Константиновна</h3>
          <span>Врач-гинеколог первой категории</span>
          <span>Прием: 1000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span class="doctor-card__graytext">или по телефону: </span><span class="doctor-card__icon icon-iphone"></span><span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="mohova" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="large-6 medium-12 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img class="doctor-card__img" src="assets/img/doctor__kozlova.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Козлова</h3>
          <span>Врач-УЗИ первой категории</span>
          <span>Прием: 1000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span class="doctor-card__graytext">или по телефону: </span><span class="doctor-card__icon icon-iphone"></span><span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <button class="doctor-card__link--appointment docmodal__button" data-doc="kozlova" data-open="docModal" href="#">
            <span class="doctor-card__icon icon-write"></span>Запись онлайн</button>
        </div>
      </div>
    </div>
  </div>
</div>
