<div class="medium-6 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img  class="doctor-card__img" src="assets/img/doctor__hazov.jpg" alt="">
          <a class="" href="#"><span class="doctor-card__icon icon-chat"></span>Отзывы</a>
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Хазов Алексей Петрович</h3>
          <span>Врач-ревматолог</span>
          <span>Прием: 2000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <div class="doctor-card__footer-item">
          <span>Запись по телефону: <span class="doctor-card__icon icon-iphone"></span>72-22-57</span>
        </div>
        <div class="doctor-card__footer-item">
          <a class="doctor-card__link--appointment" href="#"><span class="doctor-card__icon icon-write"></span>Запись онлайн</a>
        </div>
      </div>
    </div>
  </div>
</div>
