<div class="medium-6 cell">
  <div class="doctor-card">
    <div class="doctor-card__inner">
      <div class="doctor-card__profile">
        <div class="doctor-card__imgbox">
          <img  class="doctor-card__img" src="assets/img/doctor__hazov.jpg" alt="">
        </div>
        <div class="doctor-card__infobox">
          <h3 class="doctor-card__name">Хазов Алексей Петрович</h3>
          <span>Врач-ревматолог</span>
          <span>Прием: 2000 р.</span>
        </div>
      </div>
      <div class="doctor-card__footer">
        <a class="departament__link" href="#"><span class="departament__icon-small icon-menu"></span>Записаться</a>
        <span>или по телефону: <span class="departament__icon-small icon-menu"></span>72-22-57</span>
        <a class="departament__link" href="#"><span class="departament__icon-small icon-menu"></span>Отзывы</a>
      </div>
    </div>
  </div>
</div>
