
  <div class="grid-container">
    <section class="getintouch">
      <div class="grid-x">
        <div class="medium-4 cell">

          <div class="getintouch__contacts">
          <h3 class="getintouch__title">Контакты:</h3>
          <ul class="getintouch__list">
            <li class="getintouch__item"><span>Телефон:</span> 72-22-57</li>
            <li class="getintouch__item"><span>Адрес:</span> Интернациональная 27б</li>
            <li class="getintouch__item"><span>Email:</span> galium@inbox.ru</li>
          </ul>
          </div>


        </div>
        <div class="medium-8 cell">
          <form data-abide novalidate class="getintouch__form" method="POST" action="http://formspree.io/rvwdude@gmail.com">
            <div class="grid-x grid-margin-x">
              <div class="medium-12 cell">
              <h3 class="getintouch__title">Отправить сообщение/отзыв:</h3>
              </div>
              <div class="medium-6 cell">
                <input type="text" name="имя" placeholder="Как вас зовут">
              </div>
              <div class="medium-6 cell">
                <input type="text" name="email" placeholder="Email">
              </div>
              <div class="medium-12 cell">
                <div class="getintouch__textarea-inner">
                  <textarea class="getintouch__textarea" name="сообщение" placeholder="Сообщение" required></textarea>
                  <input class="knob knob--textarea" type="submit" value="Отправить">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
