<section id="map-n-contacts-area" class="map-n-contacts-area">
  <div class="grid-container">
    <section class="getintouch">
      <div class="grid-x">
        <div class="large-4 medium-12 cell">
          <div class="getintouch__contacts">
          <h3 class="getintouch__title">Контакты:</h3>
          <ul class="getintouch__list">
            <li class="getintouch__item"><span>Телефон:</span> 72-22-57</li>
            <li class="getintouch__item"><span>Адрес:</span> Интернациональная 27б</li>
            <li class="getintouch__item"><span>Email:</span> galium@inbox.ru</li>
          </ul>
          </div>
        </div>
        <div class="large-8 medium-12 cell">
          <section class="galium-map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3925c26b17a74138c2e82bcba4e9da16ed98ccdd8aae7edcd03de9e364f4c112&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
