{{#ifpage 'gastro'}}
<div class="napr-intro napr-intro--gastro" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Лечение заболеваний желудка и 12-перстной кишки: язвенной болезни, эрозивных и атрофических гастритоа. Заболеваний поджелудочной железы, желчного пузыря и желчных протоков (панкреатит, холецистит и пр.), желчнокаменная болезнь. Заболеваний кишечника метеоризм и колиты, синдром раздраженного кишечника (СРК), дисбактериоз кишечника, запоры и дискинезия толстой кишки. </p>
{{/ifpage}}

{{#ifpage 'analizi'}}
<div class="napr-intro napr-intro--analizi" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Забор крови на исследования (биохимические, клинические, иммунологические, гормоны щитовидной железы, половые гормоны, RW, ВИЧ, гепатиты и др.)</p>
{{/ifpage}}

{{#ifpage 'girudo'}}
<div class="napr-intro napr-intro--girudo" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Проводит диагностику и лечение таких заболеваний нервной системы, как невралгии и неврозы, склероз, атеросклероз, головная боль различного генеза и головокружения, эпилепсия, мигрень, вегето-сосудистая дистония и др.</p>
{{/ifpage}}

{{#ifpage 'cardiolog'}}
<div class="napr-intro napr-intro--cardio" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Врач-кардиолог, сердечно-сосудистый хирург. Проводит диагностику, профилактику и лечение таких заболеваний сердечно-сосудистой системы, как аритмия, тахикардия, тромбофлебит, атеросклероз, гипертония, порок сердца, сердечная недостаточность, а также восстановительное лечение после инфаркта.</p>
{{/ifpage}}

{{#ifpage 'func-diagnost'}}
<div class="napr-intro napr-intro--func" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Поводом записаться на прием в центр функциональной диагностики может стать боль в области сердца, нижней части живота или частые головные боли. Использование в работе оборудования позволяет специалисту выявлять раннюю симптоматику заболеваний и определять стадии развития болезней.
</p>
{{/ifpage}}

{{#ifpage 'nevrolog'}}
<div class="napr-intro napr-intro--nevrolog" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Проводит лечение заболеваний центральной и периферической нервной системы: хроническая ишемия головного мозга, инсульт, вертебро-базилярная недостаточность, экстрапирамидные нарушения, головная боль, заболевания позвоночника и связанные с ними вертеброгенные болевые синдромы, черепно-мозговая травма, демиелинизирующие заболевания центральной нервной системы, мигрень, полинейропатии, поражения отдельных периферических нервов, неврозы.
</p>
{{/ifpage}}

{{#ifpage 'neuro-surgeon'}}
<div class="napr-intro napr-intro--neuro-surgeon" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Проводит лечение дегенеративные заболеваний позвоночника (грыж межпозвонкового диска); Нарушения мозгового кровообращения, каверномы, аневризмы, мальформации;
Опухоли, онкология отделов спинного или головного мозга.
</p>
{{/ifpage}}

{{#ifpage 'revmatolog'}}
<div class="napr-intro napr-intro--revmatolog" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Проводит лечение болезней суставов. В эту группу входят остеопороз, остеартроз, подагра, разные виды артрита, спондилит.
Воспалительные процессы, поражающие кровеносные сосуды (аорто-артрит, геморрагический васкулит, легочно-почечный синдром. Системная красная волчанка, системная склеродермия, синдром Шарпа и др.
</p>
{{/ifpage}}

{{#ifpage 'endo'}}
<div class="napr-intro napr-intro--endo" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Проводит лечение нарушений, связанных с отклонениями функции органов эндокринной системы,  с гипо- или гиперактивностью эндокринных желез. В медцентре «Галиум» опытный врач-эндокринолог диагностирует заболевание и назначит курс лечения, который поможет привести гормональный фон в норму.
</p>
{{/ifpage}}


{{#ifpage 'procedur'}}
<div class="napr-intro napr-intro--procedur" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Забор крови на исследования (биохимические, клинические, иммунологические, гормоны щитовидной железы, половые гормоны, RW, ВИЧ, гепатиты и др.)
  <ul>
    <li>Внутривенные инъекции</li>
    <li>Внутривенно капельные вливания</li>
    <li>Внутримышечные инъекции</li>
    <li>Подкожные инъекции</li>
  </ul>
  Все перечисленные процедуры вы можете пройти у нас без предварительной записи.
</p>
{{/ifpage}}

{{#ifpage 'terapevt'}}
<div class="napr-intro napr-intro--terapevt" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Врач терапевт – многопрофильный специалист, который поможет определиться со многими заболеваниями внутренних органов, при необходимости направит к узкому специалисту для продолжения обследования и лечения конкретных болезней.
</p>
{{/ifpage}}

{{#ifpage 'massage'}}
<div class="napr-intro napr-intro--massage" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Проводит сеансы классического медицинского массажа детям и взрослым. Владеет техникой антицелюлитного массажа, массажа при заболеваниях опорно-двигательного аппарата, центральной и периферической нервной системы.
</p>
{{/ifpage}}

{{#ifpage 'uzi'}}
<div class="napr-intro napr-intro--uzi" data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Проводит ведение беременности, диагностику и лечение гинекологических заболеваний, радиохирургическое лечение эрозии шейки матки, установку и удаление ВМС, кольпоскопию, УЗИ омт, беременности 1,2,3 триместр, УЗИ щитовидной железы, молочной железы ,узи органов брюшной полости, почек.</p>
{{/ifpage}}

{{#ifpage 'gynecolog'}}
<div class="napr-intro napr-intro--gyno"  data-equalizer-watch>
<h1 class="napr-intro__title">{{page-title}}</h1>
<p>Врач акушер-гинеколог, врач УЗД. Проводит лечение шейки матки радиоволновым методом, удаление папиллом, кондилом женских половых органов, установку и удаление ВМК
</p>
{{/ifpage}}

<div class="phone-appointment">
  <div class="phone-appointment__inner">
    <ul class="phone-appointment__list">
      <li class="phone-appointment__item">
        <span class="icon-iphone phone-appointment__icon"></span>
        <div class="phone-appointment__spans">
          <span class="working-hours--blue">Запись по телефону:</span>
          <strong>72-22-57</strong>
        </div>
      </li>
      <li class="phone-appointment__item">
        <span class="icon-map-marker phone-appointment__icon"></span>
        <div class="phone-appointment__spans">
          <span class="working-hours--blue">Адрес:</span>
          <strong>Интернациональная 27б</strong>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="working-hours">
  <div class="working-hours__inner">
    <span class="icon-clock working-hours__icon"></span>
    <div class="working-hours__schedule">
      <ul class="working-hours__list">
        {{#ifpage 'analizi'}}
        <li class="working-hours__item"><span class="working-hours--blue">Время сдачи анализов:</span></li>
        <li class="working-hours__item">Понедельник - Пятница <span class="working-hours__time">09:00-20:00</span></li>
        <li class="working-hours__item">Суббота <span>09:00-14:00</span></li>
        <li class="working-hours__item">Воскресенье <span>выходной</span></li>
        {{/ifpage}}
        {{#unlesspage 'analizi'}}
        <li class="working-hours__item"><span class="working-hours--blue">Время приема:</span></li>
        <li class="working-hours__item">Понедельник - Пятница <span class="working-hours__time">09:00-20:00</span></li>
        <li class="working-hours__item">Суббота <span>09:00-14:00</span></li>
        <li class="working-hours__item">Воскресенье <span>выходной</span></li>
        {{/unlesspage}}
      </ul>
    </div>
  </div>
</div>
</div>
