<div class="profit">
  <div class="profit__iconbox">
    <span class="profit__icon icon-list"></span>
  </div>
  <div class="profit__info">
    <h3 class="profit__title">Мгновенная запись</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique laboriosam, sapiente natus, exercitationem et!</p>
  </div>
</div>
<div class="profit">
  <div class="profit__iconbox">
    <span class="profit__icon icon-discount"></span>
  </div>
  <div class="profit__info">
    <h3 class="profit__title">Скидон</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique laboriosam, sapiente natus, exercitationem et!</p>
  </div>
</div>
<div class="profit">
  <div class="profit__iconbox">
    <span class="profit__icon icon-expert-doc"></span>
  </div>
  <div class="profit__info">
    <h3 class="profit__title">Опытные врачи</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque similique laboriosam, sapiente natus, exercitationem et!</p>
  </div>
</div>
