<table class="price-table stack">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr class="price-table__inner-header">
    <td> Иммуноглобулин Е (общий) </td>
    <td></td>
  </tr>
  <tr>
    <td> IgE общий (Иммуноглобулин Е общий, IgE total) </td>
    <td> 350 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Определение специфических IgE </td>
    <td></td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Комплексные аллергопанели *Ответ по каждому аллергену из панели </td>
    <td></td>
  </tr>
  <tr>
    <td> Панель разные аллергены (домашняя пыль (клещ Derm. Pteronyssinus), домашняя пыль (клещ Derm. Farinae), ольха, береза, лещина, смесь трав, рожь (пыльца), полынь, подорожник, кошка, лошадь, собака, Alternaria alternate, яичный белок, молоко, арахис, лесной орех, морковь, пшеничная мука, соевые бобы) </td>
    <td> 4100 </td>
  </tr>
  <tr>
    <td> Панель педиатрическая (домашняя пыль (клещ Derm. Pteronyssinus), домашняя пыль (клещ Derm. Farinae), береза, смесь трав, кошка, собака, Alternaria alternate, молоко, α-лактальбумин, β-лактоглобулин, казеин, яичный белок, яичный желток, бычий сывороточный) </td>
    <td> 4100 </td>
  </tr>
  <tr>
    <td> Панель респираторные аллергены (домашняя пыль (клещ Derm. Pteronyssinus), домашняя пыль (клещ Derm. Farinae), ольха, береза, лещина, дуб, смесь трав, рожь (пыльца), полынь, подорожник, кошка, лошадь, собака, морская свинка, золотистый хомячок, кролик, Alternaria Alternata (грибок), Penicillium notatum (грибок), Cladospor Herbarum (грибок), Aspergilius fumigatus (грибок)) </td>
    <td> 4100 </td>
  </tr>
  <tr>
    <td> Панель разные аллергены (домашняя пыль (клещ Derm. Pteronyssinus), домашняя пыль (клещ Derm. Farinae), ольха, береза, лещина, смесь трав, рожь (пыльца), полынь, подорожник, кошка, лошадь, собака, Alternaria alternate, яичный белок, молоко, арахис, лесной орех, морковь, пшеничная мука, соевые бобы) </td>
    <td> 4100 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Пищевые аллергены *Общий результат по смеси аллергенов </td>
    <td></td>
  </tr>
  <tr>
    <td> Панель пищевые аллергены (лесной орех, арахис, грецкий орех, миндальный орех, молоко, яичный белок, яичный желток, казеин, картофель, сельдерей, морковь, томаты, треска, краб, апельсин, яблоко, пшеничная мука, ржаная мука, кунжутное семя, соевые бобы) </td>
    <td> 4100 </td>
  </tr>
  <tr>
    <td> Смесь пищевых аллергенов 1*: апельсин, банан, яблоко, персик (Food Panel, FP 15: F33 Orange (апельсин), F49 Apple (яблоко), F92 Banana (банан), F95 Peach (персик)) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Смесь пищевых аллергенов 2*: киви, манго, банан, ананас (Food Panel FP50: F84 Kiwi Fruit (киви), F91 Mango (манго), F92 Banana (банан), F210 Pineapple (ананас)) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Смесь пищевых аллергенов 3*: свинина, куриное мясо, говядина, баранина (Food Panel, FP 73: F26 Pork (свинина), F27 Beef (говядина), F83 Chicken Meat (курица), F88 Lamb (баранина)) </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Ананас, IgE (Food - Pineapple, IgE, F 210) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Апельсин, IgE (Food - Orange, IgE, F 33) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Арахис (F13, Peanut) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Банан, IgE (Food - Banana, IgE, F 92) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Баранина, IgE (Food - Lamb, IgE, F 88) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Бета-лактоглобулин, IgE (Food - Beta-lactoglobulin, IgE, F 77) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Говядина, IgE (Food - Beef, IgE, F27) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Грейпфрут (Grapefruit, F209) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Гречневая мука, IgE (Food - Buckwhear flour IgE, F11) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Казеин, IgE (Food - Casein, IgE, F 78) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Капуста кочанная, IgE (Food - Cabbage, IgE, F216) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Картофель, IgE (Food - Potato, IgE, F 35) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Киви, IgE (Food - Kiwi, IgE, F 84) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Клубника (Strawberry, F44) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Коровье молоко (F2, Milk) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Крабы (F23, Crab) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Креветки (F24, Shrimp) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Куриное мясо, IgE (Food - Chicken, IgE, F 83) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Лимон (Lemon, F208) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Манго, IgE (IgE, Food - Mango, IgE, F 91) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Морковь (F31, Carrot) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Овсяная мука, IgE (Food, Oatmeal, IgE, F7) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Пекарские дрожжи IgE (Baker’s Yeast, F45) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Персик, IgE (IgE, Food - Peach, IgE, F 95) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Пивные дрожжи IgE (Brewer’s Yeast, F403) </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Просо, IgE (IgE, Food - Panicum, IgE, F 55) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Пшеничная мука (F4, Wheat) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Рис, IgE (Food – Rice, IgE, F9) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Свинина, IgE (Food - Pork, IgE, F 26) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Сельдерей (F85, Celery) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Соевые бобы (F14, Soybean) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Томаты (F25, Tomato) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Треска (F3, Codfish) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Тыква, IgE (Food - Pumpkin, IgE, F225) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Фундук (F17, Hazelnut) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Шоколад (Chocolate, F105) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Яблоко, IgE (Food, Apple, IgE, F 49) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Яичный белок (F1, Egg White) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Яичный желток (F75, Egg Yolk) </td>
    <td> 350 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Бытовые аллергены *Общий результат по смеси аллергенов </td>
    <td></td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Аллергены плесени </td>
    <td></td>
  </tr>
  <tr>
    <td> Смесь аллергенов плесени*: Penicillum notatum, Aspergillus fumigatus, Alternaria tenuis, Cladosporium herbarum, Candida albicans (MP1; Mold Panel 1) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Плесень Penicillum notatum (M1) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Плесень Cladosporium herbarum (M2) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Плесень Aspergillus fumigatus (M3) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Candida albicans (M5) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Плесень Alternaria tenuis (M6) </td>
    <td> 350 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Аллергены клещей и домашней пыли </td>
    <td></td>
  </tr>
  <tr>
    <td> Домашняя пыль/ H1-Greer </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Домашняя пыль/H2-Stier, IgE (Homedust, H2, Stier) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Клещ Dermatophagoides pteronyssinus (D1) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Клещ Dermatophagoides farinae (D2) </td>
    <td> 350 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Аллергены животного происхождения </td>
    <td></td>
  </tr>
  <tr>
    <td> Смесь аллергенов домашних грызунов* (эпителий морской свинки, эпителий кролика, хомяка, крысы, мыши). Animal Panel EP70: E6 Guinea Pig Epithelium, E82 Rabbit Epithelium, E84 Hamster Epithelium, E87 Rat, E88 Mouse </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Кошка (E1, Cat Dander-Epithelium) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Собака (E2, Dog Epithelium) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Таракан (I6, Cockroach) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Морская свинка, эпителий, IgE (Animal - Guinea pig, IgE, Е 6) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Волнистый попугай, перо IgE (Animal – Parrot, Melopsittacus undulatus, IgE, Е 78) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Овца, эпителий, IgE (Animal - Sheep, IgE, Е 81) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Курица, перо IgE (Animal - Chicken Feathers, IgE, Е 85) </td>
    <td> 600 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Аллергены пыльцы растений *Общий результат по смеси аллергенов </td>
    <td></td>
  </tr>
  <tr>
    <td> Смесь аллергенов травы*: ежа сборная, овсянница луговая, рожь многолетняя, тимофеевка, мятлик луговой (GP1; Grass Panel 1: Orchard Grass, Meadow Fescue, Perennial Rye Grass, Timothy Grass, June Grass (Kentucky Blue)) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Смесь аллергенов травы*: колосок душистый, рожь многолетняя, тимофеевка, рожь культивированная; бухарник шерстистый (GP3; Sweet Vernal Grass, Perennial Rye Grass, Timothy Grass, Cultivated Rye Grass, Velvet Grass, IgE) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Смесь аллергенов деревьев*: ольха, лещина обыкновенная, ива, береза, дуб (TP9; Tree Panel 9: Alder, Birch, Hazelnut, Oak, Willow) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Смесь аллергенов сорной травы*: амброзия обыкновенная, полынь обыкновенная, марь белая, подорожник, чертополох русский (WP1; Common Ragweed, Mugwort, English Plantain, Lambs Quarters, Russian Thistle, IgE) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Берёза пыльца, IgE (Birch Pollen, Betula, IgE, Т3) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Тополь, IgE (Poplar, T14) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Тимофеевка пыльца, IgE (Grass/Pollen Phléum, IgE, G 6) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Полынь обыкновенная, пыльца, IgE (Grass/Pollen Artemísia vulgari, IgE, W 6) </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Полынь горькая, IgE (Grass - Artemísia absínthium, IgE, W5) </td>
    <td> 600 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Прочее </td>
    <td></td>
  </tr>
  <tr>
    <td> Латекс (K82, Latex) </td>
    <td> 400 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Определение специфических IgG </td>
    <td></td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Пищевые аллергены *Общий результат по смеси аллергенов </td>
    <td></td>
  </tr>
  <tr>
    <td> Смесь пищевых аллергенов*: апельсин, банан, яблоко, персик, IgG </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Смесь пищевых аллергенов*: киви, манго, банан, ананас, IgG </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Смесь пищевых аллергенов*: cвинина, куриное мясо, говядина, баранина, IgG </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к панели пищевых аллергенов </td>
    <td> 16000 </td>
  </tr>
  <tr>
    <td> Ананас, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Апельсин, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Арахис, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Банан, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Баранина, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Бета-лактоглобулин, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Говядина, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Грейпфрут, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Гречневая мука, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Казеин, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Капуста кочанная, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Картофель, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Киви, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Клубника, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Коровье молоко, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Креветки, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Куриное мясо, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Лимон, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Манго, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Морковь, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Овсяная мука, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Пекарские дрожжи, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Персик, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Пивные дрожжи, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Просо, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Пшеничная мука, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Рис, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Свинина, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Соевые бобы, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Томаты, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Треска, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Тыква, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Фундук, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Шоколад, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Яблоко, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Яичный белок, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Яичный желток, IgG </td>
    <td> 650 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Бытовые аллергены *Общий результат по смеси аллергенов </td>
    <td></td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Аллергены плесени </td>
    <td></td>
  </tr>
  <tr>
    <td> Смесь аллергенов плесени*: penicillium notalum, cladosporium herbarum, aspergillus fumigatus, candida albicans, alternaria tenuis, IgG </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Плесень Penicillium notatum, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Плесень Cladosporium herbarum, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Плесень Aspergillus fumigatus, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Плесень Alternaria tenuis, IgG </td>
    <td> 650 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Аллергены клещей и домашней пыли </td>
    <td></td>
  </tr>
  <tr>
    <td> Dermatophagoides pteron., IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Dermatophagoides farinae, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Dermatophagoides microc., IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Домашняя пыль/Greer, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Домашняя пыль/Stier, IgG </td>
    <td> 650 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Аллергены животного происхождения </td>
    <td></td>
  </tr>
  <tr>
    <td> Кошка, IgG </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Собака, IgG </td>
    <td> 650 </td>
  </tr>
</tbody>
</table>
