<table class="price-table stack">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr class="price-table__inner-header">
    <td> Системные заболевания соединительной ткани </td>
    <td></td>
  </tr>
  <tr>
    <td> Антинуклеарные антитела, скрининг, ИФА (АЯА, антиядерные антитела, antinuclear antibody, ANA), IgG </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к двуспиральной (нативной) ДНК, IgG (анти-дсДНК, anti-double-stranded (native) DNA antibodies, anti-dsDNA, IgG) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Антинуклеарный фактор, HEp-2 субстрат (АНФ, титры, антинуклеарные антитела методом непрямой иммунофлюоресценции на препаратах HEp-2-клеток; ANA IF, titers) </td>
    <td> 1450 </td>
  </tr>
  <tr>
    <td> Антитела к экстрагируемому нуклеарному антигену (ЭНА), IgG </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Панель антинуклеарных антител при склеродермии, иммуноблот (раздельное описание антител к антигенам Scl-70, СENP A,CENP B, RP 11, RP 155, фибриллярин, NOR 90, Th/To, PM-Sc100, PM-Scl 75, Ku, PDGFR, Ro-52) </td>
    <td> 3750 </td>
  </tr>
  <tr>
    <td> Антинуклеарные антитела, иммуноблот (раздельно Sm, RNP/Sm, SS-A (60 кДа), SS-A (52 кДа), SS-B, Scl-70, PM-Scl, PCNA, CENT-B, dsDNA, Histone, Nucleosome, Rib P, AMA-M2, Jo-1 антигену) </td>
    <td> 3200 </td>
  </tr>
  <tr>
    <td> Антитела к нуклеосомам, IgG </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Профиль &quot;Скрининг болезней соединительной ткани (антинуклеарный фактор (АНФ), антитела к экстрагируемому нуклеарному антигену (ЭНА))&quot; </td>
    <td> 2200 </td>
  </tr>
  <tr>
    <td> Профиль &quot;Системная красная волчанка, обследование (Антинуклеарный фактор (АНФ), антитела к нуклеосомам, антитела к кардиолипину IgG и IgM)&quot; </td>
    <td> 4200 </td>
  </tr>
  <tr>
    <td> Профиль &quot;Дифференциальная диагностика СКВ и других ревматических заболеваний (Антинуклеарный фактор (АНФ), антитела к нуклеосомам)&quot; </td>
    <td> 2250 </td>
  </tr>
  <tr>
    <td> Профиль &quot;Мониторинг активности СКВ (анти-дс-ДНК IgG, С3, С4 компоненты комплемента)&quot; </td>
    <td> 800 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Антифосфолипидный синдром </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к фосфолипидам IgM/IgG (антитела суммарно к смеси фосфолипидов: кардиолипин, фосфатидилсерин, фосфатидилинозитол, фосфатидная кислота -  и бета-2-гликопротеина 1) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Волчаночный антикоагулянт (Lupus anticoagulants, LA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Антитела к фосфатидилсерину IgG/IgM (Anti-phosphatidylserine/prothrombin antibodies, anti-PS-PT) </td>
    <td> 1250 </td>
  </tr>
  <tr>
    <td> Антитела к кардиолипину, скрининг (Cardiolipin Antibody, суммарно IgA, IgM, IgG) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к кардиолипину, IgA (Cardiolipin Antibody, IgA) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к кардиолипину, IgG (Cardiolipin Antibody, IgG) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к кардиолипину, IgM (Cardiolipin Antibody, IgM) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к бета-2-гликопротеину 1, суммарные IgG, IgA, IgM (антитела к β2 -гликопротеину 1, anti-β2-glycoprotein 1 antibodies, anti- β2-GР1, total) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к фосфатидилсерин-протромбиновому комплексу, суммарные IgG, IgM </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к аннексину V, IgG (Annexin V antibody, aAnV, IgG) </td>
    <td> 1400 </td>
  </tr>
  <tr>
    <td> Антитела к аннексину V, IgM (Annexin V antibody, aAnV, IgM) </td>
    <td> 1400 </td>
  </tr>
  <tr>
    <td> Профиль: &quot;Антитела к кардиолипину IgG и антитела к кардиолипину IgM&quot; </td>
    <td> 2200 </td>
  </tr>
  <tr>
    <td> Профиль: &quot;Диагностика вторичного антифосфолипидного синдрома (Антинуклеарный фактор (АНФ), антитела к кардиолипину IgG и IgM)&quot; </td>
    <td> 3200 </td>
  </tr>
  <tr>
    <td> Профиль: &quot;Антифосфолипидный синдром, развернутая серология (Вантинуклеарный фактор (АНФ), антитела к кардиолипину IgG, IgM, антитела к бета-2-гликопротеину 1)&quot; </td>
    <td> 4200 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Антиспермальные антитела </td>
    <td></td>
  </tr>
  <tr>
    <td> Антиспермальные АТ (в крови) (Anti-Spematozoa antibody, serum) </td>
    <td> 1000 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Ревматоидный артрит, поражения суставов </td>
    <td></td>
  </tr>
  <tr>
    <td> Ревматоидный фактор (РФ, Rheumatoid factor, RF) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Антитела к циклическому цитруллинированному пептиду (АЦЦП, cyclic citrullinated peptide antibodies, anti-CCP, CCP) </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Антитела к кератину, IgG </td>
    <td> 2150 </td>
  </tr>
  <tr>
    <td> Антитела к модицифированному цитруллинированному виментину (анти-MCV), IgG </td>
    <td> 1400 </td>
  </tr>
  <tr>
    <td> Ревматоидный фактор (РФ), турбидиметрический метод </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Кристаллы в мазке синовиальной жидкости (моноурат натрия, пирофосфат кальция) </td>
    <td> 1850 </td>
  </tr>
  <tr>
    <td> Молекулярно-генетическое исследование HLA-B27 </td>
    <td> 1850 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Васкулиты и поражения почек </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к базальной мембране клубочков почек, IgG </td>
    <td> 1700 </td>
  </tr>
  <tr>
    <td> Антитела к цитоплазме нейтрофилов, АНЦА, IgG (pANCA, cANCA) </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> Антитела к эндотелию на клетках HUVEC, суммарные IgG, IgA, IgM </td>
    <td> 1850 </td>
  </tr>
  <tr>
    <td> Антитела к рецептору фосфолипазы А2, (PLA2R), суммарные IgG, IgA, IgM </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Антитела к миелопероксидазе (MPO), IgG </td>
    <td> 1150 </td>
  </tr>
  <tr>
    <td> Антитела к C1q фактору комплемента, IgG </td>
    <td> 1350 </td>
  </tr>
  <tr>
    <td> Антитела к протеиназе 3 (PR3), IgG </td>
    <td> 1350 </td>
  </tr>
  <tr>
    <td> Антинейтрофильные цитоплазматические антитела, IgG, панель (антитела к антигенам: протеиназа 3,миелопероксидаза, эластаза, катепсин G, белок BPI, лактоферрин, лизоцим) </td>
    <td> 2950 </td>
  </tr>
  <tr>
    <td> Профиль «Диагностика гранулематозных васкулитов»  (АНЦА, антинуклеарный фактор (АНФ)) </td>
    <td> 2950 </td>
  </tr>
  <tr>
    <td> Профиль «Диагностика быстропрогрессирующего гломерулонефрита» (АНЦА, антитела к базальной мембране клубочков почек) </td>
    <td> 3350 </td>
  </tr>
  <tr>
    <td> Профиль «Диагностика аутоиммунного поражения почек» (АНЦА, антитела к базальной мембране клубочков почек, АНФ)  </td>
    <td> 4250 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Аутоиммунные эндокринопатии </td>
    <td></td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Антитела к антигенам поджелудочной железы </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к островковым (бета-) клеткам поджелудочной железы (ICA), IgG, метод непрямой иммунофлюоресценции на срезах ткани п/ж железы </td>
    <td> 1350 </td>
  </tr>
  <tr>
    <td> Антитела к глутаматдекарбоксилазе (GAD), IgG </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> Антитела к инсулину, IgG </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Антитела к тирозинфосфатазе (IA-2) </td>
    <td> 1600 </td>
  </tr>
  <tr>
    <td> Антитела к GAD / IA-2 суммарно </td>
    <td> 1600 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Антитела к антигенам щитовидной железы и рецепторам ТТГ </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к тиреоидной пероксидазе (АТ-ТПО, микросомальные антитела, anti-thyroid peroxidase autoantibodies) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Антитела к тиреоглобулину (АТ-ТГ, anti-thyroglobulin autoantibodies) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> АТ-МАГ (антитела к микросомальной фракции тироцито, антимикросомальные антитела, Antimicrosomal antibody) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> АТ к рТТГ (антитела к рецепторам ТТГ, TSH receptor autoantibodies) </td>
    <td> 1650 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Антитела к стероидпродуцирующим клеткам </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к ткани яичника, суммарно Ig A, IgM, IgG (антиовариальные антитела, Anti-Ovary antibody, Ovarian antibody, total) </td>
    <td> 1500 </td>
  </tr>
  <tr>
    <td> Антитела к стероидпродуцирующим клеткам надпочечника, суммарно Ig A, IgM, IgG </td>
    <td> 1300 </td>
  </tr>
  <tr>
    <td> Антитела к стероидпродуцирующим клеткам яичка, суммарно Ig A, IgM, IgG </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> Профиль &quot;Антитела к стероидпродуцирующим клеткам репродуктивных тканей, суммарно Ig A, IgM, IgG (антитела к стероидпродуцирующим клеткам яичника, антитела к стероидпродуцирующим клеткам яичка)&quot; </td>
    <td> 2850 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Аутоиммунные заболевания кожи </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к базальной мембране кожи (BMZ), IgG </td>
    <td> 2100 </td>
  </tr>
  <tr>
    <td> Антитела к десмосомам эпидермиса (ADA), IgG </td>
    <td> 2100 </td>
  </tr>
  <tr>
    <td> Антитела к десмоглеину 1, IgG </td>
    <td> 2100 </td>
  </tr>
  <tr>
    <td> Антитела к десмоглеину 3, IgG </td>
    <td> 2100 </td>
  </tr>
  <tr>
    <td> Антитела к белку BP180, IgG </td>
    <td> 2100 </td>
  </tr>
  <tr>
    <td> Антитела к белку BP230, IgG </td>
    <td> 2100 </td>
  </tr>
  <tr>
    <td> Профиль &quot;Диагностика буллезных дерматозов (антитела к десмосомам эпидермиса, антитела к базальной мембране кожи)&quot; </td>
    <td> 4200 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Аутоиммунные поражения желудочно-кишечного тракта. Целиакия </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к эндомизию (EMA), суммарно IgA и IgG </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Антитела к эндомизию (EMA), IgA </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к париетальным клеткам желудка (PCA), суммарно IgA, IgG, IgM </td>
    <td> 1600 </td>
  </tr>
  <tr>
    <td> Антитела к ретикулину (ARA), суммарно IgA и gG </td>
    <td> 1300 </td>
  </tr>
  <tr>
    <td> Антитела к деамидированным пептидам глиадина IgG </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Антитела к деамидированным пептидам глиадина, IgA </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Антитела к тканевой трансглютаминазе, IgA (tissue transglutaminase antibody (tTG) IgA) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к тканевой трансглютаминазе, IgG (tissue transglutaminase antibody (tTG),  IgG) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к внутреннему фактору Кастла, IgG </td>
    <td> 1600 </td>
  </tr>
  <tr>
    <td> Антитела к сахаромицетам (ASCA), IgG (диагностика болезни Крона) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к сахаромицетам (ASCA), IgA (диагностика болезни Крона) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Антитела к цитоплазме нейтрофилов, IgA (АНЦА, ANCA, IgA) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Иммуноглобулины подкласса IgG4 (диагностика аутоиммунного панкреатита и др. IgG4-ассоциированных заболеваний) </td>
    <td> 1750 </td>
  </tr>
  <tr>
    <td> Профиль «Серодиагностика аутоиммунного гастрита и пернициозной анемии» (АТ к париетальным клеткам желудка, АТ к внутреннему фактору Кастла) </td>
    <td> 2750 </td>
  </tr>
  <tr>
    <td> Профиль «Серодиагностика болезни Крона и неспецифического язвенного колита (НЯК)» (антитела к цитоплазме нейтрофилов (АНЦА, ANCA), IgG; АНЦА, IgA; АТ к сахаромицетам (ASCA) IgG, ASCA, IgA) </td>
    <td> 4850 </td>
  </tr>
  <tr>
    <td> Профиль «Целиакия, серологический скрининг» (АТ к эндомизию, IgA; АТ к деамидированным пептидам глиадина, IgG; иммуноглобулины класса A, общая концентрация) </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Профиль «Целиакия, серологическая диагностика» (АТ к эндомизию, IgA;  АТ к тканевой трансглутаминазе, IgA; АТ к тканевой трансглубаминазе, IgG; иммуноглобулины класса A, общая концентрация) </td>
    <td> 3450 </td>
  </tr>
  <tr>
    <td> Кальпротектин фекальный </td>
    <td> 3100 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Аутоиммунные поражения печени </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к митохондриям (AMA), суммарно IgA, IgG, IgM </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> Антитела к гладкой мускулатуре (SMA), суммарно IgA, IgG, IgM </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> Антитела к микросомам печени и почки (LKM-1), суммарно IgA, IgG, IgM </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> Панель антител при аутоиммунных заболеваниях печени, иммуноблот (антитела к антигенам АМА-М2, М2-3Е, Sp100, PML, gp210, LKM-1, LC-1, SLA/LP, SSA/Ro-52), IgG </td>
    <td> 2950 </td>
  </tr>
  <tr>
    <td> Антитела к асиалогликопротеиновому рецептору (anti-ASGPR) IgG </td>
    <td> 1650 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Аутоиммунные неврологические заболевания </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к аквапорину 4, суммарно IgA, IgG, IgM (lдиагностика нейрооптикомиелита, NMO) </td>
    <td> 2350 </td>
  </tr>
  <tr>
    <td> Антитела к скелетным мышцам (ASMA), IgG </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Антитела к ганглиозидам (лайн-блот: GM1;  GM2-GM3-GM4; GD1a, GD1b, GD2-GD3, GT1a, GT1b, GQ1b, сульфатиды), суммарно  IgG и IgM </td>
    <td> 4850 </td>
  </tr>
  <tr>
    <td> Миозит-специфичные антитела (лайн-блот : Mi-2, Ku, PM-Scl 100/75; Jo1 PL-7 PL-12 EJ OJ; SRP, SSA (Ro52)), IgG </td>
    <td> 3850 </td>
  </tr>
  <tr>
    <td> Антитела к ацетилхолиновому рецептору, суммарные </td>
    <td> 4850 </td>
  </tr>
  <tr>
    <td> Антинейрональные антитела (лайн-блот : Hu (ANNA 1), Yo-1 (PCA1), CV2, Ма2, Ri (ANNA2), амфифизин), IgG </td>
    <td> 4850 </td>
  </tr>
  <tr>
    <td> Антитела к NMDA (M-метил-D-аспартат) глутаматному рецептору, суммарно IgA, IgG, IgM </td>
    <td> 3950 </td>
  </tr>
  <tr>
    <td> Олигоклональный IgG в ликворе и сыворотке крови </td>
    <td> 3750 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Аутоиммунные заболевания легких и сердца </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к сердечной мускулатуре (миокарду), IgG </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Активность ангиотензин-превращающего фермента сыворотки, АПФ (диагностика саркоидоза) </td>
    <td> 2200 </td>
  </tr>
  <tr>
    <td> Неоптерин </td>
    <td> 1850 </td>
  </tr>
  <tr>
    <td> Профиль «Воспалительные миокардиопатии» (антитела к сердечной мускулатуре, антитела к митохондриям) </td>
    <td> 2500 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Иммунные тромбоцитопении </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к тромбоцитам IgG, непрямой тест </td>
    <td> 3100 </td>
  </tr>
</tbody></table>
