<table class="price-table stack">
  <thead>
    <tr>
      <th>Тест </th>
      <th>Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr class="price-table__inner-header">
      <td>Углеводы</td>
      <td></td>
    </tr>
  <tr>
    <td> Глюкоза (Glucose) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Фруктозамин (Fructosamine) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Гликированный гемоглобин (HbA1С, Glycated Hemoglobin) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Лактат (Lactate) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Глюкозо-толерантный тест с определением глюкозы в венозной крови натощак и после нагрузки через 2 часа (пероральный глюкозотолерантный тест, ГТТ, ОГТТ) Oral Glucose Tolerance Test, OGTT) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Глюкозо-толерантный тест с определением глюкозы и С-пептида в венозной крови натощак и после нагрузки через 2 часа </td>
    <td> 1000 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Липиды </td>
    <td></td>
  </tr>
  <tr>
    <td> Триглицериды (Triglycerides) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Холестерин общий (Холестерин, Cholesterol total) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Холестерин-ЛПВП (Холестерин липопротеинов высокой плотности, HDL Cholesterol, α-холестерин) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Холестерин-ЛПНП (Холестерин липопротеинов низкой плотности, ЛПНП, Cholesterol LDL, β-холестерин) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Фракция холестерина ОНП (ЛПНОНП, Холестерин липопротеинов очень низкой плотности, VLDL Cholesterol) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Липопротеин (а) (Lipoprotein (a), Lp(a)) </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Аполипопротеин А1 (Apolipoprotein A-1) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Аполипопротеин В (Apolipoprotein B) </td>
    <td> 300 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Проблемы веса: метаболический синдром (скрининговое первичное выявление) </td>
    <td></td>
  </tr>
  <tr>
    <td> Лабораторные исследования: Триглицериды (30) Холестерин общий (31) Холестерин ЛПВП (32) Холестерин ЛПНП (33) Глюкоза (16) </td>
    <td> 400 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Белки и аминокислоты </td>
    <td></td>
  </tr>
  <tr>
    <td> Альбумин (Albumin) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Общий белок (Protein total) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Белковые фракции (Serum Protein Electrophoresis, SPE) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> М-градиент, скрининг. Электрофорез сыворотки и иммунофиксация с поливалентной антисывороткой и количественной оценкой М-градиента </td>
    <td> 2200 </td>
  </tr>
  <tr>
    <td> М-градиент, типирование. Электрофорез сыворотки и иммунофиксация с панелью антисывороток (IgG/A/M/каппа/лямбда) с количественной оценкой М-градиента </td>
    <td> 4000 </td>
  </tr>
  <tr>
    <td> Гомоцистеин (Homocysteine) </td>
    <td> 650 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Низкомолекулярные азотистые вещества </td>
    <td></td>
  </tr>
  <tr>
    <td> Креатинин (Creatinine) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Клубочковая фильтрация, расчет по формуле CKD-EPI – креатинин (eGFR, Estimated Glomerular Filtration Rate, CKD-EPI creatinine equation) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Мочевина (Urea) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Мочевая кислота (Uric acid) </td>
    <td> 100 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Пигменты </td>
    <td></td>
  </tr>
  <tr>
    <td> Билирубин общий (Bilirubin total) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Билирубин прямой (билирубин конъюгированный, связанный; Bilirubin direct) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Билирубин непрямой </td>
    <td> 100 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Ферменты </td>
    <td></td>
  </tr>
  <tr>
    <td> АлАТ (АЛТ, Аланинаминотрансфераза, аланинтрансаминаза, SGPT, Alanine aminotransferase) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> АсАТ (АСТ, аспартатаминотрансфераза, AST, SGOT, Aspartate aminotransferase) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Альфа-Амилаза (Диастаза, Alfa-Amylase) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Альфа-Амилаза панкреатическая (Pancreatic Alfa-amylase, P-изофермент амилазы) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Гамма-глутамилтранспептидаза (ГГТ, глутамилтранспептидаза, GGT, Gamma-glutamyl transferase) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Креатинкиназа (Креатинфосфокиназа, КК, КФК, CK, Creatine kinaze) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Креатинкиназа-МВ (Креатинфосфокиназа-МВ, КК-МВ, КФК-МВ, Creatine Kinase-MB, CK-MB, КК-2) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Липаза (Триацилглицеролацилгидролаза, Lipase) </td>
    <td> 150 </td>
  </tr>
  <tr>
    <td> ЛДГ (Лактатдегидрогеназа, L-лактат: АД+Оксидоредуктаза, Lactate dehydrogenase, LDH) </td>
    <td> 150 </td>
  </tr>
  <tr>
    <td> 1-ый изофермент ЛДГ (ЛДГ-1, альфа-гидроксибутират дегидрогеназа, изофермент лактатдегидрогеназы-1, Alfa-HBDH) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Холинэстераза (S-Псевдохолинэстераза, холинэстераза II, S-ХЭ, ацилхолин-ацилгидролаза, Cholinesterase) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Фосфатаза кислая (КФ, Acid phosphatase, ACP) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Фосфатаза щелочная (ЩФ, Alkaline phosphatase, ALP) </td>
    <td> 100 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Антиоксидантный статус </td>
    <td></td>
  </tr>
  <tr>
    <td> Антиоксидантный статус (Total antioxidant status, TAS) </td>
    <td> 4000 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Витамины </td>
    <td></td>
  </tr>
  <tr>
    <td> Калий (К+, Potassium), Натрий (Na+, Sodium), Хлор (Сl-, Chloride) </td>
    <td> 150 </td>
  </tr>
  <tr>
    <td> Кальций общий (Ca, Calcium total) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Кальций ионизированный (Ca++, Calcium ionized) </td>
    <td> 150 </td>
  </tr>
  <tr>
    <td> Магний (Мg, Magnesium) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Фосфор неорганический (P, Phosphorus) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Железо сыворотки (Fe, Iron) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Латентная (ненасыщенная) железосвязывающая способность сыворотки крови (ЛЖСС, НЖСС, Unsaturated Iron Binding Capacity, UIBC) </td>
    <td> 150 </td>
  </tr>
  <tr>
    <td> Общая железосвязывающая способность </td>
    <td> 100 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Специфические белки </td>
    <td></td>
  </tr>
  <tr>
    <td> АСЛ-О (АСЛО, Антистрептолизин–О, ASO) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> С-реактивный белок (СРБ, CRP) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Ревматоидный фактор (РФ, Rheumatoid factor, RF) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Церулоплазмин (Ceruloplasmin) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Гаптоглобин (Haptoglobin) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Альфа-2-макроглобулин (alpha-2-macroglobulin, а2-Macroglobulin, A2M, а2M) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Трансферрин (Сидерофилин, Transferrin) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Ферритин (Ferritin) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Миоглобин (Myoglobin) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Натриуретического гормона (В-типа) N-концевой пропептид (NT-proBNP, N-terminal pro-brain natriuretic peptide, pro-B-type natriuretic peptide) </td>
    <td> 1000 </td>
  </tr>
  <tr>
    <td> Тропонин-I (Troponin-I) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Углевод-дефицитный трансферрин (УДТ, Carbohydrate-Deficient Trancferrin, CDT) </td>
    <td> 2000 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Онкомаркеры </td>
    <td></td>
  </tr>
  <tr>
    <td> ПСА общий (Простатический специфический антиген общий, Prostate-specific antigen total, PSA total) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Онкориск мужской: предстательная железа ( Общий, свободный, соотношение) </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Оценка здоровья простаты(ПСА общ., ПСА св., -2proPSA, phi) </td>
    <td> 7000 </td>
  </tr>
  <tr>
    <td> Кальцитонин (Calcitonin) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Альфа-фетопротеин (АФП, alfa-Fetoprotein) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Раково-эмбриональный антиген (РЭА, карциноэмбриональный антиген, Carcinoembryonic antigen, CEA) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Са 15-3 (Углеводный антиген 15-3, СА 15-3) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Cа 72-4 (Углеводный антиген 72-4, CA 72-4) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Са 19-9 (Углеводный антиген 19-9, СА 19-9) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Cyfra-21-1 (Фрагмент Цитокератина 19) </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Са-125 (Углеводный антиген 125, СА 125) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Опухолевый маркёр HE4 (Human epididymis protein 4, Белок 4 эпидидимиса человека) </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Оценка риска рака яичников по алгоритму ROMA (Risk of Ovarian Malignancy Algorithm, алгоритм расчета риска эпителиального рака яичников) (для женщины до менопаузы) </td>
    <td> 1000 </td>
  </tr>
  <tr>
    <td> Оценка риска рака яичников по алгоритму ROMA (Risk of Ovarian Malignancy Algorithm, алгоритм расчета риска эпителиального рака яичников) (для женщины после менопаузы) </td>
    <td> 1000 </td>
  </tr>
  <tr>
    <td> CA- 242 (углеводный антиген СА- 242, опухолевый маркёр CA- 242, Tumor marker CA -242) </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> β2-микроглобулин (в крови) (Beta-2 microglobulin, serum) </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Бета-2-микроглобулин (в моче) (Beta-2 microglobulin, urine) </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Нейро-специфическая енолаза (Neuron-specific enolase NSE) </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Белок S100 (S100 protein) </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> SCC (антиген плоскоклеточной карциномы, Squamous cell carcinoma antigen) </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> UBC (антиген рака мочевого пузыря, исследование растворимых фрагментов цитокератинов 8 и 18 в моче) Urine Bladder Cancer Antigen </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> M-градиент сыворотки, скрининг </td>
    <td> 2200 </td>
  </tr>
  <tr>
    <td> M-градиент сыворотки, типирование </td>
    <td> 3750 </td>
  </tr>
</tbody></table>
