<table class="price-table stack">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Клинический анализ крови: общий анализ, лейкоформула, СОЭ (с микроскопией мазка крови при наличии патологических сдвигов) </td>
      <td> 300 </td>
    </tr>
    <tr>
      <td> Клинический анализ крови: общий анализ, лейкоформула, СОЭ с обязательной «ручной» микроскопией мазка крови </td>
      <td> 300 </td>
    </tr>
    <tr>
      <td> Общий анализ крови (без лейкоцитарной формулы и СОЭ) (Complete Blood Count, CBC) </td>
      <td> 150 </td>
    </tr>
    <tr>
      <td> Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, Differential White Blood Cell Count) с микроскопией мазка крови при наличии патологических сдвигов </td>
      <td> 150 </td>
    </tr>
    <tr>
      <td> Лейкоцитарная формула (дифференцированный подсчет лейкоцитов, лейкоцитограмма, Differential White Blood Cell Count) с обязательной «ручной» микроскопией мазка крови* </td>
      <td> 150 </td>
    </tr>
    <tr>
      <td> Ретикулоциты (Reticulocytes) </td>
      <td> 150 </td>
    </tr>
  </tbody>
</table>
