<table class="">
  <tbody><tr>
    <td>Тест </td>
    <td>Цена</td>
  </tr>
  <tr>
    <td> АЧТВ (АПТВ, активированное частичное (парциальное) тромбопластиновое время, кефалин-каолиновое время, Activated Partial thromboplastin time, APTT) </td>
    <td> 150 </td>
  </tr>
  <tr>
    <td> Протромбин, МНО (протромбиновое время, PT, Prothrombin, INR) </td>
    <td> 150 </td>
  </tr>
  <tr>
    <td> Фибриноген (Fibrinogen) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Антитромбин III (АТ III, Antithrombin III) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Тромбиновое время (Thrombin time) </td>
    <td> 150 </td>
  </tr>
  <tr>
    <td> D-Димер </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Волчаночный антикоагулянт (Lupus anticoagulants, LA) </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Протеин C (Protein C) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Протеин S свободный (Protein S) </td>
    <td> 2200 </td>
  </tr>
  <tr>
    <td> Гемостазиограмма (коагулограмма), скрининг (Протромбин, (по Квику) , МНО, Фибриноген, АЧТВ, Тромб.время) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Гемостазиограмма (коагулограмма) расширенная (Протромбин, (по Квику) , МНО, Фибриноген, АЧТВ, Тромб.время, Антитром. III, Д-Димер, Плазминоген, % активности) </td>
    <td> 2300 </td>
  </tr>
</tbody></table>
