<table class="price-table">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr class="price-table__inner-header">
    <td> Жидкостная цитология, окраска по Папаниколау </td>
    <td></td>
  </tr>
  <tr>
    <td> Жидкостная цитология. Цитологическое исследование биоматериала шейки матки (окрашивание по Папаниколау, технология NovaPrep ®) </td>
    <td> 1200 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Окраска по Романовскому-Гимзе </td>
    <td></td>
  </tr>
  <tr>
    <td> Цитологическое исследование материала, полученного при хирургических вмешательствах и других срочных исследованиях </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Исследование соскобов и отпечатков с поверхности кожи и слизистых </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Исследование соскобов шейки матки и цервикального канала </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Цитологическое исследование биологического материала эпителия шейки матки с описанием по терминологической системе Бетесда (The Bethesda System - TBS) </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Исследование аспиратов из полости матки </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Исследование мочи </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Исследование выделений из молочной железы </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Цитологическое исследование соскоба (мазка) со слизистой оболочки полости носа (одна локализация) </td>
    <td> 350 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Окраска по Папаниколау - Рар-тест </td>
    <td></td>
  </tr>
  <tr>
    <td> Цитологическое исследование биоматериала шейки матки (окрашивание по Папаниколау, Рар-тест) </td>
    <td> 550 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Окраска по Папаниколау </td>
    <td></td>
  </tr>
  <tr>
    <td> Цитологическое исследование биоматериала различных локализаций, кроме шейки матки (окрашивание по Папаниколау, Рар-тест) </td>
    <td> 550 </td>
  </tr>
</tbody></table>
