<table class="analizi-table">
  <tbody><tr>
    <td>Тест </td>
    <td>Цена</td>
  </tr>
  <tr>
    <td> Исследование кариотипа (количественные и структурные аномалии хромосом) (Karyotype) </td>
    <td> 7450 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Репродуктивное здоровье </td>
  </tr>
  <tr>
    <td> Женское бесплодие и осложнение беременности (гены F2, F5, MTHFR, MTRR, MTR, ACE, AGT, RHD, HLA II; кариотип) </td>
    <td> 27000 </td>
  </tr>
  <tr>
    <td> Хочу стать мамой: осложнения беременности (гены F2, F5, MTHFR, MTRR, MTR, ACE, AGT, RHD) </td>
    <td> 11000 </td>
  </tr>
  <tr>
    <td> Хочу стать мамой: осложнения беременности (гены F2, F5, MTHFR, MTRR, MTR, ACE, AGT, RHD) (без заключения врача-генетика) </td>
    <td> 11000 </td>
  </tr>
  <tr>
    <td> Склонность к тромбозам при беременности – минимальная панель (гены F2, F5) </td>
    <td> 3500 </td>
  </tr>
  <tr>
    <td> Склонность к тромбозам при беременности – минимальная панель (гены F2, F5) (без заключения врача-генетика) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Гестозы и фетоплацентарная недостаточность (гены ACE, AGT, MTHFR, MTRR, MTR, F2, F5) </td>
    <td> 7000 </td>
  </tr>
  <tr>
    <td> Гестозы и фетоплацентарная недостаточность (гены ACE, AGT, MTHFR, MTRR, MTR, F2, F5) (без заключения врача-генетика) </td>
    <td> 7000 </td>
  </tr>
  <tr>
    <td> Привычное невынашивание беременности (в т.ч. склонность к тромбозам при беременности: расширенная панель) (гены MTHFR, MTRR, MTR, F2, F5) </td>
    <td> 9000 </td>
  </tr>
  <tr>
    <td> Привычное невынашивание беременности (в т.ч. склонность к тромбозам при беременности: расширенная панель) (гены MTHFR, MTRR, MTR, F2, F5) (без заключения врача-генетика) </td>
    <td> 8000 </td>
  </tr>
  <tr>
    <td> Возникновение изолированных пороков развития у плода (гены MTHFR, MTRR, MTR) </td>
    <td> 6000 </td>
  </tr>
  <tr>
    <td> Возникновение изолированных пороков развития у плода (гены MTHFR, MTRR, MTR) (без заключения врача-генетика) </td>
    <td> 5300 </td>
  </tr>
  <tr>
    <td> Тромботические осложнения при стимуляции овуляции (гены F2, F5) </td>
    <td> 3200 </td>
  </tr>
  <tr>
    <td> Тромботические осложнения при стимуляции овуляции (гены F2, F5) (без заключения врача-генетика) </td>
    <td> 2800 </td>
  </tr>
  <tr>
    <td> Адреногенитальный синдром, ген CYP21OHB, 9 ч.м. </td>
    <td> 10100 </td>
  </tr>
  <tr>
    <td> Опасность при приёме оральных контрацептивов (гены F2, F5) </td>
    <td> 3500 </td>
  </tr>
  <tr>
    <td> Опасность при приёме оральных контрацептивов (гены F2, F5) (без заключения врача-генетика) </td>
    <td> 2750 </td>
  </tr>
  <tr>
    <td> Обмен фолиевой кислоты (гены MTHFR, MTRR, MTR) </td>
    <td> 6000 </td>
  </tr>
  <tr>
    <td> Обмен фолиевой кислоты (гены MTHFR, MTRR, MTR) (без заключения врача-генетика) </td>
    <td> 5300 </td>
  </tr>
  <tr>
    <td> Наследственные случаи рака молочной железы и/или яичников, 2 гена (гены BRCA1, BRCA2) </td>
    <td> 5000 </td>
  </tr>
  <tr>
    <td> Наследственные случаи рака молочной железы и/или яичников, 2 гена (гены BRCA1, BRCA2) (без заключения врача-генетика) </td>
    <td> 4500 </td>
  </tr>
  <tr>
    <td> Наследственные случаи рака молочной железы и/или яичников, 4 гена (гены BRCA1, BRCA2, CHEK2, NBS1) </td>
    <td> 6200 </td>
  </tr>
  <tr>
    <td> Мужское бесплодие (+кариотип) (AR, CFTR; AZF‒регион; кариотип) </td>
    <td> 22000 </td>
  </tr>
  <tr>
    <td> Генетические факторы мужского бесплодия (AR, CFTR; AZF‒регион) </td>
    <td> 10200 </td>
  </tr>
  <tr>
    <td> Нарушения сперматогенеза: полная панель (AZF-регион). Тест включает (7205 и 7206) </td>
    <td> 6000 </td>
  </tr>
  <tr>
    <td> Нарушения сперматогенеза: полная панель (AZF-регион). Тест включает (7205 и 7206) (без заключения врача-генетика) </td>
    <td> 6000 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> HLA-типирование и резус-фактор </td>
  </tr>
  <tr>
    <td> Определение резус-фактора </td>
    <td> 3500 </td>
  </tr>
  <tr>
    <td> Определение генотипа резус-фактора </td>
    <td> 7500 </td>
  </tr>
  <tr>
    <td> Определение генотипа резус-фактора (без заключения врача-генетика) </td>
    <td> 7500 </td>
  </tr>
  <tr>
    <td> Молекулярно-генетическое исследование HLA-B27 </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Типирование генов системы HLA II класса (DRB1, DQA1, DQB1) </td>
    <td> 6000 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Система свертывания крови </td>
  </tr>
  <tr>
    <td> Тромбозы: расширенная панель (гены F2, F5, MTHFR, MTRR, MTR) </td>
    <td> 9000 </td>
  </tr>
  <tr>
    <td> Тромбозы: расширенная панель (гены F2, F5, MTHFR, MTRR, MTR) (без заключения врача-генетика) </td>
    <td> 8000 </td>
  </tr>
  <tr>
    <td> Расширенное исследование генов системы гемостаза: F2, F5, MTHFR, MTR, MTRR, F13, FGB, ITGA2, ITGВ3, F7, PAI-1 </td>
    <td> 15000 </td>
  </tr>
  <tr>
    <td> Расширенное исследование генов системы гемостаза: F2, F5, MTHFR, MTR, MTRR, F13, FGB, ITGA2, ITGВ3, F7, PAI-1 (без заключения) </td>
    <td> 10100 </td>
  </tr>
  <tr>
    <td> Тромбозы: сокращённая панель (гены F2, F5) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Тромбозы: сокращённая панель (гены F2, F5) (без заключения врача-генетика) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Фибриноген - ген FGB </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Фибриноген - ген FGB (без заключения врача-генетика) </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Гипергомоцистеинемия (гены MTHFR, MTRR, MTR) </td>
    <td> 6000 </td>
  </tr>
  <tr>
    <td> Гипергомоцистеинемия (гены MTHFR, MTRR, MTR) (без заключения врача-генетика) </td>
    <td> 5500 </td>
  </tr>
  <tr>
    <td> Гиперагрегация тромбоцитов (гены ITGA2, GP1BA) </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Гиперагрегация тромбоцитов (гены ITGA2, GP1BA) (без заключения врача-генетика) </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Тромбоцитарный рецептор фибриногена (ген ITGB3) </td>
    <td> 1500 </td>
  </tr>
  <tr>
    <td> Тромбоцитарный рецептор фибриногена (ген ITGB3) (без заключения врача-генетика) </td>
    <td> 1500 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Болезни сердца и сосудов </td>
  </tr>
  <tr>
    <td> Сердечно-сосудистые заболевания (гены ACE, AGT, F2, F5, ApoE, MTHFR, MTRR, MTR, NOS3, ITGB3, ITGA2, GP1BA, FGB) </td>
    <td> 13000 </td>
  </tr>
  <tr>
    <td> Артериальная гипертензия (полная панель) (гены ACE, AGT, NOS3) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Артериальная гипертензия (полная панель) (гены ACE, AGT, NOS3) (без заключения врача-генетика) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Артериальная гипертензия, связанная с нарушениями в ренинангиотензиновой системе (гены ACE, AGT) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Артериальная гипертензия, связанная с нарушениями в ренинангиотензиновой системе (гены ACE, AGT) (без заключения врача-генетика) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Артериальная гипертензия, связанная с нарушениями в работе эндотелиальной NO-синтазы (ген NOS3) </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> Артериальная гипертензия, связанная с нарушениями в работе эндотелиальной NO-синтазы (ген NOS3) (без заключения врача-генетика) </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> ИБС, инфаркт миокарда (гены ITGA2, GP1BA, ACE, AGT, NOS3, ApoE) </td>
    <td> 7000 </td>
  </tr>
  <tr>
    <td> ИБС, инфаркт миокарда (гены ITGA2, GP1BA, ACE, AGT, NOS3, ApoE) (без заключения врача-генетика) </td>
    <td> 7000 </td>
  </tr>
  <tr>
    <td> Ишемический инсульт (гены ITGB3, ITGA2, GP1BA, FGB) </td>
    <td> 5000 </td>
  </tr>
  <tr>
    <td> Ишемический инсульт (гены ITGB3, ITGA2, GP1BA, FGB) (без заключения врача-генетика) </td>
    <td> 5000 </td>
  </tr>
  <tr>
    <td> Атеросклероз (ген ApoE) </td>
    <td> 3500 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Болезни желудочно-кишечного тракта </td>
  </tr>
  <tr>
    <td> Болезнь Крона (гены DLG5, NOD2, OCTN1, OCTN2) </td>
    <td> 6000 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Болезни центральной нервной системы </td>
  </tr>
  <tr>
    <td> Болезнь Альцгеймера (ген ApoE) </td>
    <td> 3500 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Онкологические заболевания </td>
  </tr>
  <tr>
    <td> Онкологические заболевания у женщин (гены MTHFR, MTRR, MTR, GSTT1, GSTM1, GSTP1, NAT2, BRCA1, BRCA2, CHEK2, NBS1) </td>
    <td> 18000 </td>
  </tr>
  <tr>
    <td> Онкологические заболевания у мужчин (гены MTHFR, MTRR, MTR, GSTT1, GSTM1, GSTP1, NAT2, AR) </td>
    <td> 15000 </td>
  </tr>
  <tr>
    <td> Онкологические заболевания, связанные с токсинами окружающей среды (гены GSTT1, GSTM1, GSTP1, NAT2) </td>
    <td> 7500 </td>
  </tr>
  <tr>
    <td> Наследственные случаи рака молочной железы и/или яичников, 2 гена (гены BRCA1, BRCA2) </td>
    <td> 5000 </td>
  </tr>
  <tr>
    <td> Наследственные случаи рака молочной железы и/или яичников, 2 гена (гены BRCA1, BRCA2) (без заключения врача-генетика) </td>
    <td> 4500 </td>
  </tr>
  <tr>
    <td> Наследственные случаи BRCA-ассоциированного рака у мужчин (рак грудной, поджелудочной, предстательной желез, рак яичек), 2 гена: BRCA1, BRCA2 </td>
    <td> 5500 </td>
  </tr>
  <tr>
    <td> Наследственные случаи BRCA-ассоциированного рака у мужчин (рак грудной, поджелудочной, предстательной желез, рак яичек), 2 гена: BRCA1, BRCA2 (без заключения врача-генетика) </td>
    <td> 5000 </td>
  </tr>
  <tr>
    <td> Наследственные случаи рака молочной железы и/или яичников, 4 гена (гены BRCA1, BRCA2, CHEK2, NBS1) </td>
    <td> 6500 </td>
  </tr>
  <tr>
    <td> Семейный медуллярный рак щитовидной железы (экзоны 10,11,13, 14, 15 гена RET) </td>
    <td> 14500 </td>
  </tr>
  <tr>
    <td> Синдром множественной эндокринной неоплазии 2A типа (экзоны 10, 11 гена RET при МЭН 2А) </td>
    <td> 7000 </td>
  </tr>
  <tr>
    <td> Синдром множественной эндокринной неоплазии 2B типа (ген RET при МЭН2В) </td>
    <td> 4500 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Алкогольная и наркотическая зависимость </td>
  </tr>
  <tr>
    <td> Алкоголизм и наркомания – склонность к развитию: полная панель (гены DAT, OPRM1, ANKK1, ALDH2, ADH2) </td>
    <td> 5500 </td>
  </tr>
  <tr>
    <td> Алкоголизм и наркомания – склонность к развитию: полная панель (гены DAT, OPRM1, ANKK1, ALDH2, ADH2) (без заключения врача-генетика) </td>
    <td> 5000 </td>
  </tr>
  <tr>
    <td> Алкоголизм и наркомания: сокращённая панель (без генетики метаболизма алкоголя) (гены DAT, OPRM1, ANKK1) </td>
    <td> 3500 </td>
  </tr>
  <tr>
    <td> Алкоголизм и наркомания: сокращённая панель (без генетики метаболизма алкоголя) (гены DAT, OPRM1, ANKK1) (без заключения врача-генетика) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Алкоголизм и наркомания: тяжесть физической зависимости (гены OPRM1, ANKK1) </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Алкоголизм и наркомания: тяжесть физической зависимости (гены OPRM1, ANKK1) (без заключения врача-генетика) </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Алкоголизм и наркомания: склонность к психологической зависимости от употребления алкоголя и наркотиков (ген DAT) </td>
    <td> 1500 </td>
  </tr>
  <tr>
    <td> Алкоголизм и наркомания: склонность к психологической зависимости от употребления алкоголя и наркотиков (ген DAT) (без заключения врача-генетика) </td>
    <td> 1500 </td>
  </tr>
  <tr>
    <td> Генетические факторы метаболизма алкоголя (гены ALDH2, ADH2) </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Генетические факторы метаболизма алкоголя (гены ALDH2, ADH2) (без заключения врача-генетика) </td>
    <td> 2500 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Нарушения обмена веществ </td>
  </tr>
  <tr>
    <td> Наследственная предрасположенность к сахарному диабету I типа по трем локусам генов системы HLA II класса (DRB1, DQA1, DQB1) </td>
    <td> 7000 </td>
  </tr>
  <tr>
    <td> Диабет инсулиннезависимый (Diabetes mellitus type 2), ADAMTS9, KCNJ11, KCNQ1, PPARG </td>
    <td> 4500 </td>
  </tr>
  <tr>
    <td> Диабет инсулиннезависимый (Diabetes mellitus type 2), ADAMTS9, KCNJ11, KCNQ1, PPARG (без заключения врача-генетика) </td>
    <td> 4500 </td>
  </tr>
  <tr>
    <td> Синдром Жильбера, ген UGT1A1 </td>
    <td> 3500 </td>
  </tr>
  <tr>
    <td> Остеопороз: полная панель (гены CALCR, COL1A1, VDR) </td>
    <td> 3500 </td>
  </tr>
  <tr>
    <td> Остеопороз: полная панель (гены CALCR, COL1A1, VDR) (без заключения врача-генетика) </td>
    <td> 3500 </td>
  </tr>
  <tr>
    <td> Остеопороз: сокращённая панель (гены CALCR, COL1A1) </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Остеопороз: сокращённая панель (гены CALCR, COL1A1) (без заключения врача-генетика) </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Остеопороз: рецептор витамина D (ген VDR) </td>
    <td> 1500 </td>
  </tr>
  <tr>
    <td> Остеопороз: рецептор витамина D (ген VDR) (без заключения врача-генетика) </td>
    <td> 1500 </td>
  </tr>
  <tr>
    <td> Обмен фолиевой кислоты (гены MTHFR, MTRR, MTR) </td>
    <td> 6000 </td>
  </tr>
  <tr>
    <td> Обмен фолиевой кислоты (гены MTHFR, MTRR, MTR) (без заключения врача-генетика) </td>
    <td> 5500 </td>
  </tr>
  <tr>
    <td> Лактазная недостаточность взрослых (ген LCT) </td>
    <td> 1500 </td>
  </tr>
  <tr>
    <td> Наследственный гемохроматоз, I тип (ген HFE) </td>
    <td> 2500 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Фармакогенетика </td>
  </tr>
  <tr>
    <td> Аспирин и плавикс. Генетический маркёр резистентности к антиагрегантной терапии аспирином и плавиксом. Определение наличия полиморфизма в гене тромбоцитарного рецептора фибриногена (ITGB3) </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Варфарин: расширенная панель для подбора дозы (гены CYP2C9, VKORC1, CYP4F2, GGCX) </td>
    <td> 5450 </td>
  </tr>
  <tr>
    <td> Гидралазин и прокаинамид. Генетические маркёры повышенного риска развития волчаночноподобного синдрома и гепатотоксичности при приёме кардиотропных препаратов: гидралазина и прокаинамида. Определение наличия полиморфизмов гена N-ацетилтрансферазы 2 (NAT2) </td>
    <td> 3500 </td>
  </tr>
  <tr>
    <td> Изониазид. Генетические маркёры повышенного риска развития полиневритов при приёме изониазида, связанных с нарушением его метаболизма. Определение наличия полиморфизмов гена N-ацетилтрансферазы 2 (NAT2) </td>
    <td> 3500 </td>
  </tr>
  <tr>
    <td> Ингибиторы АПФ, флувастатин, блокаторы рецепторов ATII. Прогнозирование нефропротективного эффекта ингибиторов АПФ при недиабетических заболеваниях. Генетические маркёры эффективности атенолола при артериальной гипертензии с гипертрофией левого желудочка или терапии флувастатином при ишемической болезни сердца. Определение наличия полиморфизма в гене ангиотензин-превращающего фермента (ACE) </td>
    <td> 1950 </td>
  </tr>
  <tr>
    <td> Метаболизм иринотекана (ген UGT1A1) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Лозартан/ирбесартан. Генетический маркёр риска нарушений метаболизма блокаторов рецепторов ангиотензина II: лозартана и ирбесартана по типу ослабления и усиления их гипотензивного действия, соответственно. Определение наличия полиморфизмов гена цитохрома CYP2C9 </td>
    <td> 1950 </td>
  </tr>
  <tr>
    <td> Метотрексат. Генетические маркёры повышенного риска развития побочных реакций при приёме метотрексата на фоне лечения ревматоидного артрита. Метотрексат нарушает метаболизм фолиевой кислоты. Определение наличия полиморфизмов в генах ферментов реакций фолатного цикла (MTHFR, MTRR, MTR) </td>
    <td> 5550 </td>
  </tr>
  <tr>
    <td> Нестероидные противовоспалительные препараты. Генетический маркёр повышенного риска развития побочных реакций в форме желудочных кровотечений при приеме НПВП (ибупрофен, теноксикам, напроксен, но не диклофенак) по типу возникновения желудочных кровотечений, связанных с нарушением их метаболизма. Определение наличия полиморфизмов в гене цитохрома CYP2C9. </td>
    <td> 1900 </td>
  </tr>
  <tr>
    <td> Пеницилламин. Генетические факторы усиления клинической эффективности при применении пеницилламина на фоне лечения ревматоидного артрита. Определение наличия полиморфизма в гене мю-1 глутатион-S-трансферазы (GSTM1) </td>
    <td> 3500 </td>
  </tr>
  <tr>
    <td> Статины. Генетические факторы уменьшения или усиления клинической эффективности при применении статинов. Определение наличия полиморфизмов в гене аполипопротеина Е (ApoE) </td>
    <td> 1950 </td>
  </tr>
  <tr>
    <td> Сульфаниламиды (сульфасалазин). Генетические маркёры повышенного риска развития побочных реакций в форме диспепсий и желудочных кровотечений при приёме сульфасалазина, связанных с нарушением его метаболизма. Определение наличия полиморфизмов гена N-ацетилтрансферазы 2 (NAT2) </td>
    <td> 3450 </td>
  </tr>
  <tr>
    <td> Сульфонилмочевина и её производные: хлорпропамид, толазамид, глибенкламид и толбутамид. Генетический маркёр риска развития нежелательных лекарственных реакций по типу гипогликемии при приёме пероральных сахароснижающих средств, связанных с нарушением их метаболизма. Определение наличия полиморфизмов гена цитохрома CYP2C9 </td>
    <td> 1950 </td>
  </tr>
  <tr>
    <td> Интерлейкин 28 бета — IL28B, генотипирование (исследование генетических маркеров определяющих эффективность лечения хронического гепатита С интерфероном и рибавирином) </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Бета-адреноблокаторы. Ген CYP2D6. Фармакогенетика </td>
    <td> 5450 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Система детоксикации ксенобиотиков и канцерогенов </td>
  </tr>
  <tr>
    <td> Цитохром СYP2D6: ген СYP2D6 </td>
    <td> 5450 </td>
  </tr>
  <tr>
    <td> Цитохром CYP2C9: ген CYP2C9 </td>
    <td> 1950 </td>
  </tr>
  <tr>
    <td> Глутатионтрансферазы (гены GSTT1, GSTM1, GSTP) </td>
    <td> 3450 </td>
  </tr>
  <tr>
    <td> N-ацетилтрасфераза 2 (ген NAT2) </td>
    <td> 3450 </td>
  </tr>
  <tr>
    <td> Уридиндифосфатглюкуронидаза (ген UGT1A1) </td>
    <td> 3100 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Услуги врача-генетика </td>
  </tr>
  <tr>
    <td> Описание результатов генетического теста 1 категории сложности (№№ 7201, 7611, 7014A-VDR, 7030A-DAT, 118ГП, 121ГП, 122ГП, 123ГП, 125ГП, 131ГП, 141ГП, 149ГП, 150ГП, 115ГП, 129ГП, 152ГП, 124ГП, 144ГП, 154ГП, 7206, 7205) </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Описание результатов генетического теста 2 категории сложности (№№ 120ГП, 137ГП, 138ГП, 153ГП, 143ГП, 151ГП, 110ГП, 114ГП, 140ГП, 7661, 7207, 7258) </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Описание результатов генетического теста 3 категории сложности (№№ 134ГП, 135ГП, 136ГП, 139ГП, 145ГП, 108ГП) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Описание результатов генетического теста 4 категории сложности (№ 19ГП/БЗ) </td>
    <td> 1700 </td>
  </tr>
</tbody></table>
