<table class="price-table stack">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td> Фенобарбитал (Люминал, Phenobarbitalum) </td>
    <td> 2450 </td>
  </tr>
  <tr>
    <td> Фенитоин (Дифенин, Дилантин, Phenytoin) </td>
    <td> 1300 </td>
  </tr>
  <tr>
    <td> Вальпроевая кислота (Acidum valproicum) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Карбамазепин (Финлепсин, Тегретол, Сarbamazepine) (Amiodarone (Cordarex)) </td>
    <td> 2200 </td>
  </tr>
  <tr>
    <td> Циклоспорин (Cyclosporine, Cyclosporine A, Sandimmune) </td>
    <td> 1250 </td>
  </tr>
  <tr>
    <td> Такролимус (FK506, Адваграф, Програф, Протопик, Такросел) </td>
    <td> 1550 </td>
  </tr>
  <tr>
    <td> Ламотриджин, лекарственный мониторинг (Lamotrigine) </td>
    <td> 2800 </td>
  </tr>
  <tr>
    <td> Леветирацетам (Levetiracetam, Keppra®) </td>
    <td> 2850 </td>
  </tr>
  <tr>
    <td> Литий </td>
    <td> 800 </td>
  </tr>
</tbody></table>
