<table class="analizi-table">
  <tbody><tr>
    <td>Тест </td>
    <td>Цена</td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Оценка функций гипофиза </td>
  </tr>
  <tr>
    <td> Соматотропный гормон (соматотропин, СТГ, Growth hormone, GH) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Соматомедин-С (Инсулиноподобный фактор роста I, ИФР-1; Insulin-like growth factor I, IGF-1) </td>
    <td> 750 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Оценка функции щитовидной железы </td>
  </tr>
  <tr>
    <td> Тиреотропный гормон (ТТГ, тиротропин, Thyroid Stimulating Hormone, TSH) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Тироксин общий (T4 общий, тетрайодтиронин общий, Total Thyroxine, TT4) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Тироксин свободный (Т4 свободный, Free Thyroxine, FT4) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Трийодтиронин общий (Т3 общий, Total Triiodthyronine, TT3) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Трийодтиронин свободный (Т3 свободный, Free Triiodthyronine, FT3) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> T-Uptake (Тироксин связывающая способность сыворотки или плазмы человека; Thyroid uptake) </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> ТГ (Tиреоглобулин; Thyroglobulin, TG) </td>
    <td> 800 </td>
  </tr>
  <tr>
    <td> Антитела к тиреоглобулину (АТ-ТГ, anti-thyroglobulin autoantibodies) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Антитела к тиреоидной пероксидазе (АТ-ТПО, микросомальные антитела, anti-thyroid peroxidase autoantibodies) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> АТ-МАГ (антитела к микросомальной фракции тироцито, антимикросомальные антитела, Antimicrosomal antibody) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> АТ к рТТГ (антитела к рецепторам ТТГ, TSH receptor autoantibodies) </td>
    <td> 1700 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Оценка гипофизарно-надпочечниковой системы </td>
  </tr>
  <tr>
    <td> АКТГ (Адренокортикотропный гормон, кортикотропин, Adrenocorticotropic Hormone, ACTH) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Кортизол (Гидрокортизон, Cortisol) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Свободный кортизол (в моче) (Free cortisol, urine) </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Дегидроэпиандростерон-сульфат (ДЭА-S04, ДЭА-С, Dehydroepiandrosterone sulfate, DHEA-S) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Андростендион (Androstenedione) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Андростендиол глюкуронид (Androstanediol glucuronide , 3-alpha-diol-G) </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> 17-ОН прогестерон (17-ОП) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> 17-КС в моче (17-кетостероиды) </td>
    <td> 800 </td>
  </tr>
  <tr>
    <td> Альдостерон (Aldosterone) </td>
    <td> 850 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Оценка гормональной регуляции обмена кальция и фосфора </td>
  </tr>
  <tr>
    <td> Кальцитонин (Calcitonin) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Паратиреоидный гормон (Паратгормон, Паратирин, ПТГ, Parathyroid hormone, PTH) </td>
    <td> 450 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Репродуктивная система. Беременность </td>
  </tr>
  <tr class="analizi-table__inner-subheader">
    <td colspan="2"> Гипофизарные гонадотропные гормоны и пролактин </td>
  </tr>
  <tr>
    <td> Фолликулостимулирующий гормон (ФСГ, Follicle stimulating hormone, FSH) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Лютеинизирующий гормон (ЛГ, LH) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Пролактин (Prolactin) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Макропролактин (Macroprolactin) </td>
    <td> 400 </td>
  </tr>
  <tr class="analizi-table__inner-subheader">
    <td colspan="2"> Эстрогены и прогестины </td>
  </tr>
  <tr>
    <td> Эстрадиол (E2, Estradiol) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Прогестерон (Progesterone) </td>
    <td> 300 </td>
  </tr>
  <tr class="analizi-table__inner-subheader">
    <td colspan="2"> Оценка андрогенного статуса </td>
  </tr>
  <tr>
    <td> Тестостерон (Testosterone) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Свободный тестостерон (Free Testosterone) </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Дигидротестостерон (DHT, Dihydrotestosterone) </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Андростендион (Androstenedione) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Андростендиол глюкуронид (Androstanediol glucuronide , 3-alpha-diol-G) </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Дегидроэпиандростерон-сульфат (ДЭА-S04, ДЭА-С, Dehydroepiandrosterone sulfate, DHEA-S) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> 17-КС в моче (17-кетостероиды) </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> 17-ОН прогестерон (17-ОП) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Глобулин, связывающий половые гормоны (ГСПГ, Sex hormone-binding globulin, SHBG) </td>
    <td> 350 </td>
  </tr>
  <tr class="analizi-table__inner-subheader">
    <td colspan="2"> Нестероидные регуляторные факторы половых желез </td>
  </tr>
  <tr>
    <td> Анти-Мюллеров гормон (АМГ, AMH, anti-Mullerian hormone, MIS, Mullerian Inhibiting Substance) </td>
    <td> 1300 </td>
  </tr>
  <tr>
    <td> Ингибин В (inhibin B) </td>
    <td> 1400 </td>
  </tr>
  <tr class="analizi-table__inner-subheader">
    <td colspan="2"> Мониторинг беременности, биохимические маркеры состояния плода </td>
  </tr>
  <tr>
    <td> Хорионический гонадотропин человека (ХГЧ, бета-ХГЧ, б-ХГЧ, Human Chorionic gonadotropin, HCG) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Свободная b-субъединица хорионического гонадотропина человека (свободный b-ХГЧ, free b-HCG) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Плацентарный лактоген (Human placental lactogen, HPL) </td>
    <td> 800 </td>
  </tr>
  <tr>
    <td> PAPP-A (Ассоциированный с беременностью протеин-А плазмы, Pregnancy-associated Plasma Protein-A, ПАПП-А) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Свободный эстриол (Е3, Estriol free) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Альфа-фетопротеин (АФП, alfa-Fetoprotein) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Пренатальный скрининг трисомий: 1 триместр (PRISСA-1) </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Пренатальный скрининг трисомий: 2 триместр (PRISСA-2) </td>
    <td> 700 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Оценка эндокринной функции поджелудочной железы </td>
  </tr>
  <tr>
    <td> Инсулин (Insulin) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Проинсулин (Proinsulin) </td>
    <td> 800 </td>
  </tr>
  <tr>
    <td> С-Пептид (C-Peptide) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Оценка инсулинорезистентности: глюкоза (натощак), инсулин (натощак), расчет индекса HOMA-IR) </td>
    <td> 500 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Биогенные амины </td>
  </tr>
  <tr>
    <td> Катехоламины в плазме: адреналин, норадреналин, дофамин </td>
    <td> 1700 </td>
  </tr>
  <tr>
    <td> Катехоламины в моче (адреналин, норадреналин, дофамин) </td>
    <td> 1900 </td>
  </tr>
  <tr>
    <td> Метаболиты катехоламинов и серотонина, суточная моча: ванилилминдалевая кислота, ВМК; гомованилиновая кислота, ГВК; 5-оксииндолуксусная кислота, 5-ОИУК. (Catecholamines and serotonin metabolites, urine, 24 hr: vanillylmandelic acid, VМА; homovanillic acid, НVА; 5-hydroxyindoleacetic acid, 5-НIАА) </td>
    <td> 1800 </td>
  </tr>
  <tr>
    <td> Метанефрины, фракции, суточная моча – метанефрин, норметанефрин. (Metanephrines, fractinated, urine, 24 hr - metanephrine, normetanephrine) </td>
    <td> 1800 </td>
  </tr>
  <tr>
    <td> Катехоламины в моче (адреналин, норадреналин, дофамин) (период сбора меньше 24 часов) </td>
    <td> 1900 </td>
  </tr>
  <tr>
    <td> Определение гистамина в крови (плазме) </td>
    <td> 1950 </td>
  </tr>
  <tr>
    <td> Определение серотонина в крови (сыворотке) </td>
    <td> 1650 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Оценка состояния ренин-ангиотензин-альдостероновой системы </td>
  </tr>
  <tr>
    <td> Альдостерон (Aldosterone) </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Ренин (Ренин плазмы – прямое определение, Direct Renin) </td>
    <td> 600 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Гормоны жировой ткани </td>
  </tr>
  <tr>
    <td> Лептин (Leptin) </td>
    <td> 850 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Регуляция эритропоэза </td>
  </tr>
  <tr>
    <td> Эритропоэтин (Erythropoetin) </td>
    <td> 450 </td>
  </tr>
</tbody></table>
