<table class="price-table stack">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td> Гастрин (Gastrin) </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Пепсиноген I (Pepsinogen I) </td>
    <td> 1000 </td>
  </tr>
  <tr>
    <td> Пепсиноген II (Pepsinogen II) </td>
    <td> 1000 </td>
  </tr>
  <tr>
    <td> Пепсиногены I и II с расчетом соотношения </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> Тромбиновое время (Thrombin time) </td>
    <td> 150 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Алгоритм оценки состояния слизистой оболочки желудка<br> <small>*проводится в течение месяца после проведения исследования &quot;Гастропанель без стимуляционной пробы&quot; </small></td>
    <td></td>
  </tr>
  <tr>
    <td> Гастропанель без стимуляционной пробы (Пепсиноген I, Пепсиноген II, Гастрин-17 базальный (натощак), H. pylori IgG), программная обработка данных (GastroSoft, BIOHIT) </td>
    <td> 3800 </td>
  </tr>
  <tr>
    <td> Стимуляционная проба - Гастрин-17 (стимулированный)* </td>
    <td> 1300 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Безбиопсийная оценка фиброза печени </td>
    <td></td>
  </tr>
  <tr>
    <td> СтеатоСкрин (SteatoSсreen) </td>
    <td> 5300 </td>
  </tr>
  <tr>
    <td> ФиброМакс (FibroMax) </td>
    <td> 15000 </td>
  </tr>
  <tr>
    <td> ФиброТест (FibroTest) </td>
    <td> 13000 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Расчётные тесты, выполняемые по результатам СтеатоСкрина без взятия крови </td>
    <td></td>
  </tr>
  <tr>
    <td> ФиброМакс (FibroMax) </td>
    <td> 15000 </td>
  </tr>
  <tr>
    <td> ФиброТест (FibroTest) </td>
    <td> 12000 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Костный метаболизм </td>
    <td></td>
  </tr>
  <tr>
    <td> Остеокальцин (Оsteocalcin) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> 25-ОН витамин D </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> β-Cross laps (С-концевые телопептиды коллагена I типа, продукт деградации коллагена в результате костной резорбции) </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Маркёр формирования костного матрикса P1NP (N-терминальный пропептид проколлагена 1 типа, Total P1NP) </td>
    <td> 1350 </td>
  </tr>
  <tr>
    <td> Дезоксипиридинолин (ДПИД) </td>
    <td> 1200 </td>
  </tr>
</tbody></table>
