<table class="">
  <tbody><tr>
    <td>Тест</td>
    <td>Цена</td>
  </tr>
  <tr>
    <td>Антитела класса IgG к Entamoeba histolitica (anti-Entamoeba histolytica IgG)</td>
    <td>850</td>
  </tr>
  <tr>
    <td>Антитела  класса IgG к антигенам аскарид (anti-Ascaris IgG)</td>
    <td>1000</td>
  </tr>
  <tr>
    <td>Антитела суммарные IgM+IgG+IgA к  к антигенам лямблий (anti-Lamblia суммарно IgA+IgM+IgG)</td>
    <td>750</td>
  </tr>
  <tr>
    <td>Антитела класса IgG к антигенам описторхиса (anti-Opisthorchis IgG)</td>
    <td>950</td>
  </tr>
  <tr>
    <td>Антитела класса IgG к Strongyloides stercoralis, возбудителю стронгилоидоза  (Антитела к угрице кишечной, IgG; anti-Strongyloides, IgG)</td>
    <td>650</td>
  </tr>
  <tr>
    <td>Антитела класса IgG к антигенам токсокар (anti-Toxocara IgG)</td>
    <td>650</td>
  </tr>
  <tr>
    <td>Антитела класса IgG к антигенам трихинелл (Аnti-Trichinella IgG)</td>
    <td>650</td>
  </tr>
  <tr>
    <td>Антитела класса IgG к антигенам эхинококка (anti-Echinococcus IgG)</td>
    <td>950</td>
  </tr>
</tbody></table>
