<table class="analizi-table">
  <tbody><tr>
    <td>Тест </td>
    <td>Цена</td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Комплексные иммунологические исследования </td>
  </tr>
  <tr>
    <td> Иммунологическое обследование расширенное (с ОАК и лейкоцит. формулой) </td>
    <td> 11800 </td>
  </tr>
  <tr>
    <td> Иммунологическое обследование скрининговое (с ОАК и лейкоцит. формулой) </td>
    <td> 6000 </td>
  </tr>
  <tr>
    <td> Фагоцитарная активность лейкоцитов (Phagocytic activity of leucocytes) </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Фенотипирование лимфоцитов (основные субпопуляции) - CD3, CD4, CD8, CD19, CD16,56 (с ОАК и лейкоцит. формулой) </td>
    <td> 3750 </td>
  </tr>
  <tr>
    <td> Активированные лимфоциты (CD3+HLA-DR+, CD3-HLA DR+) (с ОАК и лейкоцит. формулой) </td>
    <td> 1450 </td>
  </tr>
  <tr>
    <td> Способность лимфоцитов к активации (Lymphocyte activation ability) </td>
    <td> 2600 </td>
  </tr>
  <tr>
    <td> Циркулирующие иммунные комплексы общие (ЦИК, Circulating Immune Complex) </td>
    <td> 950 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Иммуноглобулины (общие) </td>
  </tr>
  <tr>
    <td> Иммуноглобулины класса A (IgA) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Иммуноглобулины класса М (IgM) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Иммуноглобулины класса G (IgG) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> IgE общий (Иммуноглобулин Е общий, IgE total) </td>
    <td> 350 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Специфические белки </td>
  </tr>
  <tr>
    <td> Эозинофильный катионный белок (Eosinophil Cationic Protein, ECP) </td>
    <td> 450 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Компоненты комплемента </td>
  </tr>
  <tr>
    <td> Компоненты системы комплемента С3, С4 (Complement components C3, C4) </td>
    <td> 300 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Цитокины </td>
  </tr>
  <tr>
    <td> Интерлейкин 1 β (IL-1β) </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> Интерлейкин 6 (IL – 6) </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> Интерлейкин 8 (IL – 8) </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> Интерлейкин 10 (IL -10) </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> ФНО (Фактор некроза опухоли, Tumor necrosis factor α, TNF α) </td>
    <td> 1650 </td>
  </tr>
</tbody></table>
