<table class="price-table stack">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr class="price-table__inner-header">
    <td> Аденовирусная инфекция </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgA к Аденовирусу (anti-Adenovirus IgA) <span class="price-table__hidden">Аденовирус</span></td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Аденовирусу (anti-Adenovirus IgG) <span class="price-table__hidden">Аденовирус</span></td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Боррелиоз (болезнь Лайма) <span class="price-table__hidden">Аденовирус</span></td>
    <td> 450</td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Borrelia burgdorferi (anti-Borrelia burgdorferi IgG) <span class="price-table__hidden">Аденовирус</span></td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Borrelia burgdorferi (anti-Borrelia burgdorferi IgM) <span class="price-table__hidden">Аденовирус</span></td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Иммуноблот, антитела класса IgM к Borrelia burgdorferi (anti-Borrelia burgdorferi IgM иммуноблот) <span class="price-table__hidden">Аденовирус</span></td>
    <td> 1500 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Ветряная оспа </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к вирусу Varicella-Zoster (ветряной оспы и опоясывающего лишая) (anti-Varicella-Zoster Virus IgG, anti-VZV IgG) </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к вирусу Varicella-Zoster (ветряной оспы и опоясывающего лишая) (anti-Varicella-Zoster Virus IgM, anti-VZV IgM) </td>
    <td> 550 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> ВИЧ - инфекция </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к ВИЧ 1 / 2 и антиген ВИЧ 1 / 2 (HIV Ag/Ab Combo)** </td>
    <td> 250 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Гепатит А </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к вирусу гепатита А (anti - HAV IgG) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к вирусу гепатита А (anti - HAV IgM) </td>
    <td> 400 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Гепатит В </td>
    <td></td>
  </tr>
  <tr>
    <td> HBsAg, качественный тест (HBs-антиген, поверхностный антиген вируса гепатита B, «австралийский» антиген) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> HBе-антиген вируса гепатита В (HBеAg) </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Антитела классов IgM+IgG к HB-core антигену вируса гепатита B (anti - HB core total) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к HB-core антигену вируса гепатита B (anti - HB core IgM) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Антитела к HBе-антигену вируса гепатита B (anti - HBe) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Антитела к HBs-антигену вируса гепатита B (anti - HBs) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> HBsAg, количественный тест (Hepatitis B surface antigen, HBs-антиген, поверхностный антиген вируса гепатита B, «австралийский» антиген, количественный тест) </td>
    <td> 600 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Гепатит С </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к вирусу гепатита C класса IgM и IgG (anti - HCV total)** </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Иммуноблот антитела класса IgG к антигенам вируса гепатита С (anti-HCV IgG иммуноблот) </td>
    <td> 4500 </td>
  </tr>
  <tr>
    <td> Интерлейкин 28 бета — IL28B, генотипирование (исследование генетических маркеров определяющих эффективность лечения хронического гепатита С интерфероном и рибавирином) </td>
    <td> 1000 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Гепатит D </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgM к вирусу гепатита D (anti-HDV IgM) </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Антитела к вирусу гепатита D (anti - HDV total) </td>
    <td> 700 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Гепатит Е </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgM к вирусу гепатита E (anti-HEV IgM) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к вирусу гепатита E (anti-HEV IgG) </td>
    <td> 500 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Герпес </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к вирусу простого герпеса 1 и 2 типов (anti - HSV (1 и 2 типов) IgG) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к вирусу простого герпеса 1 типа (anti - HSV (1 типа) IgG) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к вирусу простого герпеса 2 типа, HSV- 2 </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к вирусу простого герпеса 1 и 2 типов (anti - HSV (1 и 2 типов) IgM) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Определение индекса авидности антител класса IgG к вирусу простого герпеса 1 и 2 типов (Авидность anti - HSV (1 и 2 типов) IgG) </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к герпес-вирусу человека типа 6 (anti-Human Herpes Virus type 6 IgG, anti-HHV 6 типа IgG) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к герпес-вирусу человека типа 8 (ассоциированному с саркомой Капоши герпес-вирусу) (anti-Human Herpes Virus type 8 IgG, anti-HHV 8 типа IgG) </td>
    <td> 300 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Дифтерия </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к дифтерийному анатоксину, IgG (anti-Diphtheria Toxoid IgG) </td>
    <td> 700 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Иерсиниоз </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgA к антигенам Yersinia Enterocolitica (anti-Yersinia Enterocolitica IgA) </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к антигенам Yersinia Enterocolitica (anti-Yersinia Enterocolitica IgG) </td>
    <td> 700 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Кандидоз </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Candida albicans (anti-Candida IgG) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Плесень Candida albicans, IgG </td>
    <td> 700 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Клещевой энцефалит </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к вирусу клещевого энцефалита </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к вирусу клещевого энцефалита </td>
    <td> 800 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Коклюш </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgA к Bordetella pertussis (anti-Bordetella pertussis IgA) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Bordetella pertussis (anti-Bordetella pertussis IgG) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Bordetella pertussis (anti-Bordetella pertussis IgM) </td>
    <td> 650 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Корь </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к вирусу кори (anti-Measles IgG) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к вирусу кори (anti-Measles IgM) </td>
    <td> 400 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Краснуха </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к вирусу краснухи (anti-Rubella IgG) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к вирусу краснухи (anti-Rubella IgM) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Иммуноблот антитела класса IgG к антигенам вируса краснухи (anti-Rubella IgG иммуноблот) </td>
    <td> 4500 </td>
  </tr>
  <tr>
    <td> Определение индекса авидности антител класса IgG к вирусу краснухи (Авидность anti-Rubella IgG) </td>
    <td> 1100 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Микоплазменная инфекция </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Mycoplasma hominis (anti-Mycoplasma hominis IgM) и Антитела класса IgG к Mycoplasma hominis (anti-Mycoplasma hominis IgG) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Mycoplasma hominis (anti-Mycoplasma hominis IgM) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Mycoplasma hominis (anti-Mycoplasma hominis IgG) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Антитела класса IgA к Mycoplasma hominis (anti-Mycoplasma hominis IgA) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Mycoplasma pneumoniae (anti-Mycoplasma pneumoniae IgM) и антитела класса IgG к Mycoplasma pneumoniae (anti-Mycoplasma pneumoniae IgG) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Mycoplasma pneumoniae (anti-Mycoplasma pneumoniae IgM) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Mycoplasma pneumoniae (anti-Mycoplasma pneumoniae IgG) </td>
    <td> 200 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Паротит </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к вирусу эпидемического паротита (anti-Mumps IgG) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к вирусу эпидемического паротита (anti-Mumps IgM) </td>
    <td> 450 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td > Респираторно-синцитиальная вирусная инфекция </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к респираторному синцитиальному вирусу человека (Anti- Respiratory syncytial virus IgG) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к респираторному синцитиальному вирусу человека (Anti- Respiratory syncytial virus IgM) </td>
    <td> 700 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Сифилис </td>
    <td></td>
  </tr>
  <tr>
    <td> Сифилис RPR (Rapid Plasma Reagin – антикардиолипиновый тест) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM+IgG к Treponema pallidum (anti-Treponema pallidum IgG+IgM) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Syphilis TPHA (РПГА) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Treponema pallidum (anti-Treponema pallidum IgM) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Иммуноблот, антитела класса IgМ к Treponema pallidum (anti-Treponema pallidum IgМ иммуноблот) </td>
    <td> 1800 </td>
  </tr>
  <tr>
    <td> Иммуноблот, антитела класса IgG к Treponema pallidum (anti-Treponema pallidum IgG иммуноблот) </td>
    <td> 1800 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Столбняк </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела к столбнячному анатоксину, IgG (anti-Tetanus Toxoid IgG) </td>
    <td> 650 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Т-лимфотропный вирус </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Т-лимфотропному вирусу человека типа 1 и 2 типа (Human T-Lymphotropic Virus Types I/II) (anti-HTLV (1 и 2 типов) IgG) </td>
    <td> 700 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Токсоплазмоз </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Тoxoplasma gondii (anti-Toxoplasma gondii IgG) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Тoxoplasma gondii (anti-Toxoplasma gondii IgM) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Определение индекса авидности антител класса IgG к Тoxoplasma gondii (Авидность anti-Toxoplasma gondii IgG) </td>
    <td> 1100 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Трихомониаз </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Trichomonas vaginalis (anti-Trichomonas vaginalis IgG) </td>
    <td> 300 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Туберкулез </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела суммарные IgM+IgG+IgA к Mycobacterium tuberculosis (anti-Mycobacterium tuberculosis суммарно IgG+IgM+IgA) <span class="price-table__hidden">Туберкулез</span></td>
    <td> 1350 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Уреаплазмоз </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Ureaplasma urealyticum (anti-Ureaplasma urealyticum IgG) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Антитела класса IgA к Ureaplasma urealyticum (anti-Ureaplasma urealyticum IgA) </td>
    <td> 200 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Хеликобактерная инфекция </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Helicobacter pylori (anti-Helicobacter pylori IgG) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Helicobacter pylori (anti-Helicobacter pylori IgM) </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Helicobacter Pylori IgA (Антитела класса IgА к Helicobacter pylori) </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Иммуноблот, антитела класса IgG к Helicobacter pylori (anti-Helicobacter pylori IgG иммуноблот) </td>
    <td> 2800 </td>
  </tr>
  <tr>
    <td> Иммуноблот, антитела класса IgА к Helicobacter pylori (anti-Helicobacter pylori IgА иммуноблот) </td>
    <td> 2800 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Хламидийная инфекция </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgA к Chlamydia trachomatis (anti-Chlamydia trachomatis IgA) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Chlamydia trachomatis (anti-Chlamydia trachomatis IgG) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Антитела класса IgA к Chlamydia trachomatis (anti-Chlamydia trachomatis IgA) и Антитела класса IgG к Chlamydia trachomatis (anti-Chlamydia trachomatis IgG) - раздельно </td>
    <td> 900 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Chlamydia trachomatis (anti-Chlamydia trachomatis IgM) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Антитела класса IgA к Chlamydophila pneumoniae (anti-Chlamydophila pneumoniae IgA) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к Chlamydophila pneumoniae (anti-Chlamydophila pneumoniae IgM) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к Chlamydophila pneumoniae (anti-Chlamydophila pneumoniae IgG) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Anti-cHSP60-IgG (Антитела класса IgG к белку теплового шока Chlamydia trachomatis) </td>
    <td> 300 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Цитомегаловирусная инфекция </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgG к цитомегаловирусу (ЦМВ, CMV) (anti - CMV IgG) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Антитела класса IgM к цитомегаловирусу (ЦМВ, CMV) (anti - CMV IgM) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Определение индекса авидности антител класса IgG к цитомегаловирусу (Авидность anti-CMV IgG) </td>
    <td> 350 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Эпштейна-Барр вирусная инфекция </td>
    <td></td>
  </tr>
  <tr>
    <td> Антитела класса IgM к капсидному антигену вируса Эпштейна-Барр (anti-EBV IgM VCA (капсидному антигену)) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к нуклеарному антигену вируса Эпштейна-Барр (anti-EBV IgG EBNA (нуклеарному антигену)) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к раннему антигену вируса Эпштейна-Барр (anti-EBV IgG EA (раннему антигену)) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Антитела класса IgG к капсидному антигену вируса Эпштейна-Барр (anti-EBV IgG VCA (капсидному антигену)) </td>
    <td> 400 </td>
  </tr>
</tbody></table>
