<table class="price-table">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td> Исследование интерферонового статуса (4 показателя: сыворо- точный интерферон; спонтанный интерферон; интерферон-альфа; интерферон-гамма) </td>
    <td> 2500 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Интерфероновый статус (4 показателя) с определением чувствительности к препаратам интерферона </td>
    <td></td>
  </tr>
  <tr>
    <td> Ингарон </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Интрон </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Реаферон </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Реальдирон </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Роферон </td>
    <td> 650 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Интерфероновый статус (4 показателя) с определением чувствительности к индукторам интерферона </td>
    <td></td>
  </tr>
  <tr>
    <td> Амиксин </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Кагоцел </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Неовир </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Циклоферон </td>
    <td> 650 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Интерфероновый статус (4 показателя) с определением чувствительности к иммуномодуляторам </td>
    <td></td>
  </tr>
  <tr>
    <td> Галавит </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Гепон </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Изопринозин </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Иммунал </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Иммунофан </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Иммуномакс </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Имунорикс </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Ликопид </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Панавир </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Полиоксидоний </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Тактивин </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Тимоген </td>
    <td> 650 </td>
  </tr>
</tbody></table>
