<table class="price-table stack">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td> Анализ кала на яйца гельминтов (яйца глистов, helminth eggs) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Анализ кала на простейшие (PRO stool) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Исследование на энтеробиоз (яйца остриц, enterobiasis) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Исследование на энтеробиоз (яйца остриц, enterobiasis), шпатель </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Содержание углеводов в кале </td>
    <td> 800 </td>
  </tr>
  <tr>
    <td> Исследование кала на скрытую кровь </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Скрытая кровь в кале (колоректальные кровотечения), количественный иммунохимический метод FOB Gold (quantitative immunochemical Fecal Occult Blood Test FOB Gold) </td>
    <td> 800 </td>
  </tr>
  <tr>
    <td> Эластаза 1, панкреатическая эластаза 1 (Elastase 1, E1, Э1) </td>
    <td> 2600 </td>
  </tr>
  <tr>
    <td> Кальпротектин фекальный </td>
    <td> 3200 </td>
  </tr>
  <tr>
    <td> Фосфор (Phosphorus) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Бета-2-микроглобулин (в моче) (Beta-2 microglobulin, urine) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Оксалаты мочи (Oxalate, urine) </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Исследование почечного камня </td>
    <td> </td>
  </tr>
  <tr>
    <td> Камни почечные, анализ (Calculi (Stone) Analysis) </td>
    <td> 3700 </td>
  </tr>
</tbody></table>
