<table class="price-table stack">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td> Исследование на биоценоз влагалища и определение чувствительности к антимикробным и антигрибковым препаратам (с микроскопией препарата, окрашенного по Граму) (Vaginal Culture, Routine, quantitative)* </td>
    <td> 1000 </td>
  </tr>
  <tr>
    <td> Микроскопическое (бактериоскопическое) исследование мазка, окрашенного по Граму (Gram Stain. Bacterioscopic examination of different smears (vaginal, cervical, urethral, sputum, wound, etc) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Посев отделяемого ротоглотки на бордетеллы (Bordetella pertussis, коклюш). (Bordetella pertussis, Nasopharyngeal Culture. Bacteria Identification) </td>
    <td> 1300 </td>
  </tr>
  <tr>
    <td> Посев на клостридии (Clostridium difficile, псевдомембранозный колит). (Clostridium difficile Culture. Bacteria Identification and Susceptibility ) </td>
    <td> 1250 </td>
  </tr>
  <tr>
    <td> Посев на грибы рода кандида (Candida, кандидоз) и определение чувствительности к антимикотическим препаратам. (Yeast Culture, Candida Culture. Bacteria Identification and Susceptibility) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Исследование на E. coli O157:H7, диарейный синдром, антигенный тест (One step rapid immunосhromotographic assay) </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Посев на кишечную палочку (E.Coli O157:H7, эшерихиоз) и определение чувствительности к антимикробным препаратам </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев на кишечную палочку (E.Coli O157:H7, эшерихиоз) и определение чувствительности к антимикробным препаратам и бактериофагам </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев на микоплазмы и определение чувствительности к антибиотикам (Mycoplasma hominis Culture, quantitative. Bacteria Identification and Susceptibility) </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Посев на уреаплазмы (Ureaplasma spp.) и определение чувствительности к антибиотикам (Ureaplasma spp. Culture, quantitative. Bacteria Identification and Susceptibility) </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Посев на M.hominis и Ureaplasma spp и чувствительность к антибиотикам </td>
    <td> 1550 </td>
  </tr>
  <tr>
    <td> Посев на патогенную кишечную флору (шигеллы, сальмонеллы) (перед госпитализацией, при медицинском профилактическом обследовании по показаниям) </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев на патогенную кишечную флору (шигеллы, сальмонеллы) и определение чувствительности к антимикробным препаратам </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев на патогенную кишечную флору, и определение чувствительности к антимикробным препаратам и бактериофагам </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев на дифтерию (Corynebacterium Diphtheriae Culture) </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Посев на золотистый стафилококк МРЗС (S.aureus, MRSA) (перед госпитализацией, при медицинском профилактическом обследовании по показаниям) </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев на золотистый стафилококк МРЗС (S.aureus, MRSA) и определение чувствительности к антимикробным препаратам </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Посев на золотистый стафилококк МРЗС (S.aureus, MRSA) и определение чувствительности к расширенному спектру антимикробных препаратов </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Посев на золотистый стафилококк МРЗС (S.aureus, MRSA), определение чувствительности к антимикробным препаратам и бактериофагам </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Посев на золотистый стафилококк (при медицинском профилактическом обследовании по показаниям) </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев на золотистый стафилококк (S. aureus) и определение чувствительности к антимикробным препаратам </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев на золотистый стафилококк (S. aureus) и определение чувствительности к расширенному спектру антимикробных препаратов </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Посев на золотистый стафилококк (S. aureus), определение чувствительности к антимикробным препаратам и бактериофагам </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев кала на иерсинии (Y.enterocolitica, иерсиниоз) и определение чувствительности к антибиотикам (Stool Culture, Yersinia enterocolitica. Bacteria Identification and Susceptibility) </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Посев кала на кампилобактер (Stool Culture, Campylobacter sp. Bacterial identification) </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Посев гинекологического материала на листерии (Listeria monocytogenes, листериоз. (Listeria monocytogenes Culture. Bacteria Identification and Susceptibility)) </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к антимикробным препаратам* </td>
    <td> 800 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к расширенному спектру антимикробных препаратов* </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору, определение чувствительности к антимикробным препаратам и бактериофагам* </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Посев грудного молока на микрофлору </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к антимикробным препаратам* </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к расширенному спектру антимикробных препаратов* </td>
    <td> 800 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору, определение чувствительности к антимикробным препаратам и бактериофагам* </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к антимикробным препаратам* </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к расширенному спектру антимикробных препаратов* </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к антимикробным препаратам* </td>
    <td> 900 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к расширенному спектру антимикробных препаратов* </td>
    <td> 1000 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору, определение чувствительности к антимикробным препаратам и бактериофагам* </td>
    <td> 900 </td>
  </tr>
  <tr>
    <td> Стрептококк гр. А, антигенный тест (Streptococcus group A. One step rapid immunосhromotographic assay) </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к антимикробным препаратам* </td>
    <td> 900 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к расширенному спектру антимикробных препаратов* </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору, определение чувствительности к антимикробным препаратам и бактериофагам* </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к антимикробным препаратам* </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к расширенному спектру антимикробных препаратов* </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору, определение чувствительности к антимикробным препаратам и бактериофагам* </td>
    <td> 900 </td>
  </tr>
  <tr>
    <td> Исследование на бета-гемолитический стрептококк группы В (Streptococcus agalactiae), антигенный тест </td>
    <td> 800 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к антимикробным препаратам* </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору и определение чувствительности к расширенному спектру антимикробных препаратов* </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору, определение чувствительности к антимикробным препаратам и бактериофагам* </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору с определением чувствительности к антимикробным препаратам и микроскопией мазка* </td>
    <td> 900 </td>
  </tr>
  <tr>
    <td> Посев на микрофлору с определением чувствительности к расширенному спектру антимикробных препаратов и микроскопией мазка* </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Исследование на ротавирус (Rotavirus), антигенный тест </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Исследование на аденовирус (Adenovirus), антигенный тест </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Исследование на лямблии (Giardia lamblia), антигенный тест </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Посев на бета-гемолитический стрептококк группы В (S.agalactiae) </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Посев на бета-гемолитический стрептококк группы В (S.agalactiae) и определение чувствительности к антимикробным препаратам </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Посев на бета-гемолитический стрептококк группы А (Streptococcusgroup A, S.pyogenes) </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Посев на бета-гемолитический стрептококк группы А (Streptococcusgroup A, S.pyogenes) и определение чувствительности к антимикробным препаратам </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Криптоспоридии парвум (Cryptosporidium parvum), диарейный синдром, антигенный тест </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Хеликобактер пилори (Helicobacter pylori), антигенный тест </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Toxin A Clostridium difficile, псевдомембранозный колит, антигенный тест </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> *В случаях обнаружения нормальной, сопутствующей, условно-патогенной в низком титре (≤10*4 кое/тамп., мл., грам.) или не имеющей диагностического значения флоры, определение чувствительности к антимикробным препаратам и бактериофагам не проводится. У пациентов до 16 лет гинекологические анализы берутся только в присутствии родителей. Имеются ограничения по взятию некоторых видов биоматериала в регионах. Уточняйте у администратора медицинского офиса. </td>
    <td> </td>
  </tr>
</tbody></table>
