<table class="price-table stack">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr class="price-table__inner-header">
    <td> Микроэлементы в крови (сыворотка)* </td>
    <td></td>
  </tr>
  <tr>
    <td> Кадмий (Cadmium, serum; Cd) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кобальт (Cobalt, serum; Co) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Медь (Copper, serum; Cu) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Марганец (Manganese, serum; Mn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Селен (Selenium, serum; Se) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Цинк (Zinc, serum; Zn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Никель (Nickel, serum; Ni) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Золото (Gold, serum; Au) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Молибден (Molybdenum, serum; Mo) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Таллий (Thallium, serum; Tl) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Мышьяк (Arsenic, serum, As) </td>
    <td> 850/300 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Микроэлементы в крови (кровь с гепарином)* </td>
    <td></td>
  </tr>
  <tr>
    <td> Кадмий (Cadmium, blood; Cd) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кобальт (Cobalt, blood; Co) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Медь (Copper, blood; Cu) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Марганец (Manganese, blood; Mn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Никель (Nickel, blood; Ni) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Селен (Selenium, blood; Se) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Цинк (Zinc, blood; Zn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Свинец (Lead, blood; Pb) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Ртуть (Mercury, blood; Hg) </td>
    <td> 850/300 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Микроэлементы в моче* </td>
    <td></td>
  </tr>
  <tr>
    <td> Кадмий (Cadmium, urine; Cd) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кобальт (Cobalt, urine; Co) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Медь (Copper, urine; Cu) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Медь (моча суточная) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Марганец (Manganese, urine; Mn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Селен (Selenium, urine; Se) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Цинк (Zinc, urine; Zn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Никель (Nickel, urine; Ni) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Свинец (Lead, urine; Pb) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Ртуть (Mercury, urine; Hg) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Таллий (Thallium, urine; Tl) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Мышьяк (Arsenic, urine; As) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Алюминий (Aluminum, urine; Al) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Железо (Iron, urine; Fe) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Йод, моча (Iodine, urine; I) </td>
    <td> 850/300 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Микроэлементы в волосах* </td>
    <td></td>
  </tr>
  <tr>
    <td> Алюминий (Aluminum, hair; Al) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Барий (Barium, hair; Ba) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Бериллий (Beryllium, hair; Be) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Бор (Boron, hair; B) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Ванадий (Vanadium, hair; V) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Висмут (Bismuth, hair; Bi) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Вольфрам (Tungsten, Wolframium, hair; W) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Галлий (Gallium, hair; Ga) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Германий (Germanium, hair; Ge) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Железо (Iron, hair; Fe) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Золото (Gold, hair; Au) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Йод (Iodine, Hair; I) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кадмий (Cadmium, hair; Cd) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Калий (Potassium, hair; K) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кальций (Calcium, hair; Ca) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кобальт (Cobalt, hair; Co) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кремний (Silica, hair; Si) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Лантан (Lantanum, hair; La) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Литий (Lithium, hair; Li) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Магний (Magnesium, hair; Mg) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Марганец (Manganese, hair; Mn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Медь (Copper, hair; Cu) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Молибден (Molybdenum, hair; Mo) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Мышьяк (Arsenic, hair; As) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Натрий (Sodium, hair; Na) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Никель (Nickel, hair; Ni) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Олово (Tin, hair; Sn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Платина (Platinum, hair; Pt) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Ртуть (Mercury, hair; Hg) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Рубидий (Rubidium, hair; Rb) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Свинец (Lead, hair; Pb) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Селен (Selenium, hair; Se) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Серебро (Silver, hair; Ag) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Стронций (Strontium, hair; Sr) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Сурьма (Antimony, hair; Sb) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Таллий (Thallium, hair; Tl) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Фосфор (Phosphorus, hair; P) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Хром (Chromium, hair; Cr) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Цинк (Zinc, hair; Zn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Цирконий (Zirconium, hair; Zr) </td>
    <td> 850/300 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Микроэлементы в ногтях* </td>
    <td></td>
  </tr>
  <tr>
    <td> Алюминий (Aluminum, nail; Al) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Барий (Barium, nails; Ba) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Бериллий (Beryllium, nails; Be) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Бор (Boron, nails; B) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Ванадий (Vanadium, nails; V) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Висмут (Bismuth, nails; Bi) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Вольфрам (Tungsten, Wolframium, nails; W) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Галлий (Gallium, nails; Ga) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Германий (Germanium, nails; Ge) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Железо (Iron, nails; Fe) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Золото (Gold, nails; Au) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Йод (Iodine, nails; I) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кадмий (Cadmium, nails; Cd) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Калий (Potassium, nails; K) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кальций (Calcium, nails; Ca) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кобальт (Cobalt, nails; Co) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Кремний (Silica, nails; Si) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Лантан (Lantanum, nails; La) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Литий (Lithium, nails; Li) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Магний (Magnesium, nails; Mg) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Марганец (Manganese, nails; Mn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Медь (Copper, nails; Cu) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Молибден (Molybdenum, nails; Mo) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Мышьяк (Arsenic, nails; As) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Натрий (Sodium, nails; Na) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Никель (Nickel, nails; Ni) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Олово (Tin, nails; Sn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Платина (Platinum, nails; Pt) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Ртуть (Mercury, nails; Hg) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Рубидий (Rubidium, nails; Rb) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Свинец (Lead, nails; Pb) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Селен (Selenium, nails; Se) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Серебро (Silver, nails; Ag) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Стронций (Strontium, nails; Sr) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Сурьма (Antimony, nails; Sb) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Таллий (Thallium, nails; Tl) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Фосфор (Phosphorus, nails; P) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Хром (Chromium, nails; Cr) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Цинк (Zinc, nails; Zn) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> Цирконий (Zirconium, nails; Zr) </td>
    <td> 850/300 </td>
  </tr>
  <tr>
    <td> *Стоимость одного МЭ с пробоподготовкой/каждого следующего МЭ из списка или при добавлении к стандартному профилю для того же биоматериала (добавить любой микроэлемент можно только в день сдачи биоматериала!) </td>
    <td></td>
  </tr>
</tbody></table>
