<table class="analizi-table">
  <tbody><tr>
    <td>Тест </td>
    <td>Цена</td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> ВИЧ-инфекция </td>
  </tr>
  <tr>
    <td> ВИЧ-1, определение РНК (HIV, RNA) * </td>
    <td> 6200 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Гепатит А </td>
  </tr>
  <tr>
    <td> Вирус гепатита А, определение РНК (HAV-RNA)* </td>
    <td> 450 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Гепатит В </td>
  </tr>
  <tr>
    <td> Вирус гепатита В, определение ДНК (HBV-DNA)* </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Вирус гепатита B, определение ДНК (HBV-DNA)* </td>
    <td> 1200 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Гепатит С </td>
  </tr>
  <tr>
    <td> Вирус гепатита С, определение РНК (HCV-RNA, qualitative)* </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Вирус гепатита С, определение РНК (HCV-RNA, quantitative)* </td>
    <td> 6200 </td>
  </tr>
  <tr>
    <td> Вирус гепатита С (генотипирование), определение РНК (HCV-RNA, genotyping)* </td>
    <td> 750 </td>
  </tr>
  <tr>
    <td> Вирус гепатита С, определение РНК (HCV-RNA, quantitative)* </td>
    <td> 6200 </td>
  </tr>
  <tr>
    <td> Количественное определение РНК вируса гепатита С методом ПЦР (вирусная нагрузка), HCV Viral Load, Hepatitis C Virus RNA (Quantitative test)* </td>
    <td> 1200 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Гепатит D </td>
  </tr>
  <tr>
    <td> Вирус гепатита D, определение РНК (HDV-RNA)* </td>
    <td> 450 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Гепатит G </td>
  </tr>
  <tr>
    <td> Вирус гепатита G, определение РНК (HDV-RNA)* </td>
    <td> 450 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Герпетическая инфекция </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 1 и 2 типа, определение ДНК (HHV-1, HHV-2, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 1 и 2 типа, определение ДНК (HHV-1, HHV-2, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 1 и 2 типа, определение ДНК (HHV-1, HHV-2, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 1 и 2 типа, определение ДНК (HHV-1, HHV-2, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 1 и 2 типа, определение ДНК (HHV-1, HHV-2, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 1 и 2 типа (вирус простого герпеса 1 и 2 типа), определение ДНК, типирование (Human herpesvirus 1, 2 (HHV-1, HHV-2), Herpes simplex virus 1, 2 (HSV-1, HSV-2), DNA)* </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 1 и 2 типа (вирус простого герпеса 1 и 2 типа), определение ДНК, типирование (Human herpesvirus 1, 2 (HHV-1, HHV-2), Herpes simplex virus 1, 2 (HSV-1, HSV-2), DNA)* </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 1 и 2 типа (вирус простого герпеса 1 и 2 типа), определение ДНК, типирование (Human herpesvirus 1, 2 (HHV-1, HHV-2), Herpes simplex virus 1, 2 (HSV-1, HSV-2), DNA)* </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 1 и 2 типа (вирус простого герпеса 1 и 2 типа), определение ДНК, типирование (Human herpesvirus 1, 2 (HHV-1, HHV-2), Herpes simplex virus 1, 2 (HSV-1, HSV-2), DNA)* </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 1 и 2 типа (вирус простого герпеса 1 и 2 типа), определение ДНК, типирование (Human herpesvirus 1, 2 (HHV-1, HHV-2), Herpes simplex virus 1, 2 (HSV-1, HSV-2), DNA)* </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 6 типа, определение ДНК (HHV-6, DNA)* </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 6 типа, определение ДНК (HHV-6, DNA)* </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 6 типа, определение ДНК (HHV-6, DNA)* </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 6 типа, определение ДНК (HHV-6, DNA)* </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Герпес-вирус человека 6 типа, определение ДНК (HHV-6, DNA)* </td>
    <td> 350 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Кандидоз </td>
  </tr>
  <tr>
    <td> Кандида, определение ДНК (Candida albicans, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Кандида, определение ДНК (Candida albicans, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Кандида, определение ДНК (Candida albicans, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Краснуха </td>
  </tr>
  <tr>
    <td> Вирус краснухи, определение ДНК (Rubella virus, DNA)* </td>
    <td> 550 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Микоплазменная инфекция </td>
  </tr>
  <tr>
    <td> Микоплазма, определение ДНК (Mycoplasma hominis, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Микоплазма, определение ДНК (Mycoplasma hominis, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Микоплазма, определение ДНК (Mycoplasma genitalium, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Микоплазма, определение ДНК (Mycoplasma genitalium, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Микоплазма, определение ДНК (Mycoplasma pneumoniae, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Микоплазма, определение ДНК (Mycoplasma pneumoniae, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Сифилис </td>
  </tr>
  <tr>
    <td> Бледная трепонема, определение ДНК (Treponema pallidum, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Бледная трепонема, определение ДНК (Treponema pallidum, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Бледная трепонема, определение ДНК (Treponema pallidum, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Бледная трепонема, определение ДНК (Treponema pallidum, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Токсоплазмоз </td>
  </tr>
  <tr>
    <td> Токсоплазма, определение ДНК (Toxoplasma gondii, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Трихомониаз </td>
  </tr>
  <tr>
    <td> Трихомонада, определение ДНК (Trichomonas vaginalis, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Трихомонада, определение ДНК (Trichomonas vaginalis, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Туберкулез </td>
  </tr>
  <tr>
    <td> Микобактерии туберкулеза, определение ДНК (Mycobacterium tuberculosis, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Микобактерии туберкулеза, определение ДНК (Mycobacterium tuberculosis, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Микобактерии туберкулеза, определение ДНК (Mycobacterium tuberculosis, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Уреаплазмоз </td>
  </tr>
  <tr>
    <td> Уреаплазма (биовар Т-960), определение ДНК (Ureaplasma urealyticum (T-960), DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Уреаплазма (биовар Т-960), определение ДНК (Ureaplasma urealyticum (T-960), DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Уреаплазма, определение ДНК (Ureaplasma parvum, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Уреаплазма, определение ДНК (Ureaplasma parvum, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Уреаплазма, определение ДНК (Ureaplasma urealyticum+parvum, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Уреаплазма, определение ДНК (Ureaplasma urealyticum+parvum, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Хламидийная инфекция </td>
  </tr>
  <tr>
    <td> Хламидии, определение ДНК (Chlamydia trachomatis, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Хламидии, определение ДНК (Chlamydia trachomatis, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Хламидии, определение ДНК (Chlamydia trachomatis, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Хламидии, определение ДНК (Chlamydia trachomatis, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Хламидия, определение ДНК (Chlamydophila pneumoniae, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Хламидия, определение ДНК (Chlamydophila pneumoniae, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Хламидия, определение ДНК (Chlamydophila pneumoniae, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Цитомегаловирусная инфекция </td>
  </tr>
  <tr>
    <td> Цитомегаловирус, определение ДНК, Cytomegalovirus, DNA* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Цитомегаловирус, определение ДНК, Cytomegalovirus, DNA* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Цитомегаловирус, определение ДНК, Cytomegalovirus, DNA* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Цитомегаловирус, определение ДНК, Cytomegalovirus, DNA* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Цитомегаловирус, определение ДНК, Cytomegalovirus, DNA* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Цитомегаловирус, определение ДНК, Cytomegalovirus, DNA* </td>
    <td> 200 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Эпштейна-Барр вирусная инфекция </td>
  </tr>
  <tr>
    <td> Вирус Эпштейна-Барр, определение ДНК (Epstein Barr virus, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Вирус Эпштейна-Барр, определение ДНК (Epstein Barr virus, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Вирус Эпштейна-Барр, определение ДНК (Epstein Barr virus, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Вирус Эпштейна-Барр, определение ДНК (Epstein Barr virus, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Вирус Эпштейна-Барр, определение ДНК (Epstein Barr virus, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Вирус Эпштейна-Барр, определение ДНК (Epstein Barr virus, DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Гонорея </td>
  </tr>
  <tr>
    <td> Гонококк, определение ДНК (Neisseria gonorrhoeae, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Гонококк, определение ДНК (Neisseria gonorrhoeae, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Гонококк, определение ДНК (Neisseria gonorrhoeae, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Гонококк, определение ДНК (Neisseria gonorrhoeae, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Папилломавирусная инфекция </td>
  </tr>
  <tr>
    <td> Определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV) высокого онкогенного риска, скрининг 14 типов (16, 18, 31, 33, 35, 39, 45, 51, 52, 56, 58, 59, 66, 68) + КВМ* </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV) высокого онкогенного риска, скрининг 14 типов (16, 18, 31, 33, 35, 39, 45, 51, 52, 56, 58, 59, 66, 68) + КВМ* </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV) высокого онкогенного риска, скрининг 14 типов (16, 18, 31, 33, 35, 39, 45, 51, 52, 56, 58, 59, 66, 68) + КВМ* </td>
    <td> 550 </td>
  </tr>
  <tr>
    <td> Дифференцированное определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV) высокого онкогенного риска 2-х типов (16 , 18) + КВМ </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Дифференцированное определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV) высокого онкогенного риска 14-и типов (16, 18, 31, 33, 35, 39, 45, 51, 52, 56, 58, 59,66,68) + КВМ </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Дайджин тест вирус папилломы человека (ВПЧ Digene-тест, метод «гибридного захвата»; Digene HPV Test, Hybrid Capture Technology) - определение ДНК-типов высокого онкогенного риска (16/18/31/33/35/39/45/51/52/56/58/59/68 типы) </td>
    <td> 5500 </td>
  </tr>
  <tr>
    <td> Дайджин тест вирус папилломы человека (ВПЧ Digene-тест, метод «гибридного захвата»; Digene HPV Test, Hybrid Capture Technology) - определение ДНК-типов низкого онкогенного риска (6/11/42/43/44 типы) </td>
    <td> 5500 </td>
  </tr>
  <tr>
    <td> Дифференцированное определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV) низкого онкогенного риска 3-х типов (6, 11 , 44)* + КВМ </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Дифференцированное определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV) низкого онкогенного риска 3-х типов (6, 11 , 44)* + КВМ </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Дифференцированное определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV) низкого онкогенного риска 3-х типов (6, 11 , 44)* + КВМ </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Дифференцированное определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV), 4 типов (6, 11, 16, 18 )*+ КВМ </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Дифференцированное определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV), 15 типов (6, 11, 16, 18, 31, 33, 35, 39, 45, 51, 52, 56, 58, 59, 68)* + КВМ </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Дифференцированное определение ДНК ВПЧ (Вирус папилломы человека, Human papillomavirus, HPV) 21 типа ( 6, 11, 16, 18, 26, 31, 33, 35, 39, 44, 45, 51, 52, 53, 56, 58, 59, 66, 68, 73, 82)* + КВМ </td>
    <td> 1350 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Гарднереллез </td>
  </tr>
  <tr>
    <td> Гарднерелла, определение ДНК (Gardnerella vaginalis, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Гарднерелла, определение ДНК (Gardnerella vaginalis, DNA)* </td>
    <td> 200 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Листериоз </td>
  </tr>
  <tr>
    <td> Листерии, определение ДНК (Listeria monocytogenes, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Листерии, определение ДНК (Listeria monocytogenes, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Листерии, определение ДНК (Listeria monocytogenes, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Листерии, определение ДНК (Listeria monocytogenes, DNA)* </td>
    <td> 300 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Стрептококковая инфекция </td>
  </tr>
  <tr>
    <td> Стрептококк, определение ДНК (Streptococcus spp., DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Стрептококк, определение ДНК (Streptococcus spp., DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Стрептококк, определение ДНК (Streptococcus spp., DNA)* </td>
    <td> 250 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Специфическая оценка естественной микрофлоры кишечника </td>
  </tr>
  <tr>
    <td> Лактобактерии, определение ДНК (Lactobаcillus spp., DNA)* </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Бактероиды, определение ДНК (Bacteroides spp., DNA) * </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Мобилункус, определение ДНК (Mobiluncus curtisii, DNA) </td>
    <td> 400 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Исследование микробиоценоза урогенитального тракта </td>
  </tr>
  <tr>
    <td> Скрининг микрофлоры урогенитального тракта (13+КВМ) * (Общая бактериальная масса, Lactobacillus spp, Gardnerella vaginalis/Prevotella bivia/Porphyromonas spp., Mycoplasma hominis, Mycoplasma genitalium, Ureaplasma spp., Candida spp., Trichomonas vaginalis, Neisseria gonorrhoeae, Chlamydia trachomatis, Cytomegalovirus, Herpes simplex virus 1, Herpes simplex virus 2) </td>
    <td> 2200 </td>
  </tr>
  <tr>
    <td> Выявление возбудителей ИППП (7+КВМ) * (Chlamydia trachomatis, Trichomonas vaginalis, Neisseria gonorrhoeae, Mycoplasma genitalium, Cytomegalovirus, Herpes simplex virus 1, Herpes simplex virus 2) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> ФЕМОФЛОР-9+КВМ * (Общая бактериальная масса, Lactobacillus spp., Enterobacterium spp., Streptococcus spp., Gardnerella vaginalis/Prevotella bivia/Porphyromonas spp., Eubacterium spp., Mycoplasma hominis, Mycoplasma genitalium, Candida spp) </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> ФЕМОФЛОР-17+КВМ * (Общая бактериальная масса, Lactobacillus spp, Enterobacterium spp., Streptococcus spp., Staphylococcus spp., Gardnerella vaginalis/Prevotella bivia/Porphyromonas spp., Eubacterium spp., Sneathia spp./Leptotrihia spp /Fusobacterium spp., Megasphaera spp./Veillonella spp/Dialister spp., Lachnobacterium spp./Clostridium spp., Mobiluncus spp./Corynebacterium spp., Peptostreptococcus spp., Atopobium vaginae, Mycoplasma hominis, Mycoplasma genitalium, Ureaplasma spp., Candida spp.) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Комплексное исследование микрофлоры урогенитального тракта: Общая бактериальная масса, Lactobacillus spp., Gardnerella vaginalis, Atopobium vaginae, Prevotella spp., Leptotrichia amnionii group, Mobiluncus mulieris, Mobiluncus curtisii, Ureaplasma urealyticum, Ureaplasma parvum, Mycoplasma hominis, Fungi, Candida albicans, Candida krusei, Candida glabrata, Candida parapsilosis, Candida tropicalis, Candida famata, Candida guilliermondii, Chlamydia trachomatis, Neisseria gonorrhoeae, Trichomonas vaginalis, Mycoplasma genitalium, контроль взятия материала </td>
    <td> 4000 </td>
  </tr>
  <tr>
    <td> Выявление возбудителей ИППП(4+КВМ) (определение ДНК Chlamydia trachomatis, Neisseria gonorrhoeae, Trichomonas vaginalis, Mycoplasma genitalium, ДНК человека (КВМ)) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Бактериальный вагиноз: Общая бактериальная масса, Lactobacillus spp., Gardnerella vaginalis, Atopobium vaginae, Prevotella spp., Leptotrichia amnionii group, Mobiluncus mulieris, Mobiluncus curtisii, контроль взятия материала </td>
    <td> 1450 </td>
  </tr>
  <tr>
    <td> Условно - патогенные микоплазмы (урогенитальный скрининг) (определение ДНК Ureaplasma urеalyticum, Ureaplasma parvum, Mycoplasma hominis, ДНК человека (КВМ)) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Кандидоз, скрининг и типирование (определение общей ДНК грибов (Fungi), ДНК Candida albicans. Типирование грибов рода кандида : Candida krusei, Candida glabrata, Candida parapsilosis, Candida tropicalis, Candida famata, Candida guillermondii) </td>
    <td> 1250 </td>
  </tr>
  <tr>
    <td> Кандидоз скрининг (определение общей ДНК грибов (Fungi), ДНК Candida albicans) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Кандидоз типирование (определение ДНК грибов рода кандида: Candida krusei, Candida glabrata, Candida parapsilosis, Candida tropicalis, Candida famata, Candida guillermondii) </td>
    <td> 850 </td>
  </tr>
  <tr>
    <td> Условно-патогенные микоплазмы (мониторинг эффективности лечения) (отдельное определение ДНК Ureaplasma urеalyticum, ДНК человека (КВМ)) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Условно-патогенные микоплазмы (мониторинг эффективности лечения) (отдельное определение ДНК Ureaplasma parvum, ДНК человека (КВМ)) </td>
    <td> 250 </td>
  </tr>
  <tr>
    <td> Условно-патогенные микоплазмы (мониторинг эффективности лечения) (отдельное определение ДНК Mycoplasma hominis, ДНК человека (КВМ)) </td>
    <td> 250 </td>
  </tr>
</tbody></table>
