<table class="price-table">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td> Ежегодное профилактическое обследование (после 40 лет) ( ОАК, лейкоформ., СОЭ, АлАТ, АсАТ, билируб. Общ., билируб. Прям., глюкоза, общ.белок, мочев., креат., холест., ЛПВН, ЛПНП, триглиц., гомоцист., ТТГ, Т4св., ОАМ) </td>
    <td> 1850 </td>
  </tr>
  <tr>
    <td> Оценка иммунного ответа к детским инфекциям (anti-HBs, anti-Rubella IgG, anti-VZV IgG, anti-Mumps IgG, anti-Measles IgG, anti-Bordetella pertussis IgG, АТ к дифтер., анатоксину, IgG (колич.), АТ к столбн. анатоксину, (колич.) </td>
    <td> 2850 </td>
  </tr>
  <tr>
    <td> Профилактика заболеваний сердца и сосудов и их осложнений (Протромбин, МНО, фибриноген, холест., ЛПВП, ЛПНП, триглиц., С-реакт. белок, гомоцестин) </td>
    <td> 1250 </td>
  </tr>
  <tr>
    <td> Липидный профиль: расширенный (Холестерин, ЛПВП, ЛПНП, Триглицериды, Аполипрот А1, Аполипрот. В, Аполипрот. (а), ЛПОНП) </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Липидный профиль: скрининг (Холестерин, ЛПВП, ЛПНП, Триглицериды, инд. Атерог.) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Антифосфолипидный синдром, лабораторные критерии ( АТ к кардиолипину, IgG, IgM, АТ к бета-2-гликопротеину 1, волчаночный антикоагулянт (ВА)) </td>
    <td> 4300 </td>
  </tr>
  <tr>
    <td> Обследование печени: расширенное (протромбин, МНО, АлАТ, АсАТ, ГТГ, глюкоза, мочев., билируб.общ., билир.прямой, фосфатаза щел., общ.белок, белк.фракции, холестерин, холинэст., HBsAg, anti-HCV) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Обследование печени: скрининг (АлАТ, АсАТ, ГТГ, билируб.общ., билир.прямой, фосфатаза щел.) </td>
    <td> 450 </td>
  </tr>
  <tr>
    <td> Скрининг аутоиммунного поражения печени </td>
    <td> 6850 </td>
  </tr>
  <tr>
    <td> Обследование почек: расширенное ( ОАК, креат., мочев, общ.белок, K/Na/Cl, P, Ca, общ.белок(сут.моча), проба Реберга(сут.моча), ОАМ) </td>
    <td> 1050 </td>
  </tr>
  <tr>
    <td> Обследование почек: скрининг( креат., мочев, общ.белок, K/Na/Cl, ОАМ) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Диагностика целиакии: непереносимость белка злаковых (глютена) (АТ к эндомизию, IgA, IgG, АТ к деамидированным пептидам глиадина. IgA, IgG, АТ к ретикулину, IgA, IgG, IgA общ.) </td>
    <td> 5700 </td>
  </tr>
  <tr>
    <td> Боли в суставах: расширенное обследование ( Са, остеокальцин, паратгормон, Асл-О, С-реакт.белок, РФ, АЦЦП, АТ к Chlamydia trachomatis(IgG, IgA), АТ к Yersinia enterocolitica (IgA, IgG), ДПИД) </td>
    <td> 4550 </td>
  </tr>
  <tr>
    <td> Боли в суставах: скрининг ( АЛ-О, С-реактивный белок, РФ, антинуклеарные АТ скрининг, ОАК, СОЭ) </td>
    <td> 900 </td>
  </tr>
  <tr>
    <td> Контроль диабета: расширенный (HbA1c, глюкоза, креат., холест., ЛПВП, ЛПНП, триглиц., гомоцист., альб.(сут моча), проба Реберга(сут.моча), глюкоза(сут.моча) </td>
    <td> 1450 </td>
  </tr>
  <tr>
    <td> Контроль диабета: скрининг (HbA1c, глюкоза) </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> Диабет: аутоиммунные маркёры (АТ к глутаматдекарбоксилазе(GAD), к инсулину, к тирозинфосфатазе (IA-2)) </td>
    <td> 4000 </td>
  </tr>
  <tr>
    <td> Диагностика анемий </td>
    <td> 950 </td>
  </tr>
  <tr>
    <td> Онкориск женский: шейка матки( ПАП-тест, ВПЧ расширенный скрининг) </td>
    <td> 1450 </td>
  </tr>
  <tr>
    <td> Диагностика остеопороза (Са, фосфор, остеокальцин, паратгормон, ДПИД) </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> Биохимия крови: расширенный профиль( АлАТ, АсАт, билир.общ., билир.прям., ГГТ, Fe, Ca, Амилаза, ЛДГ, Глюкоза, общ.белок, K/Na/Cl, белк. Фракции, креат., мочев., фосфатаза щел., холест., ЛПВП, ЛПНП, триглиц.) </td>
    <td> 650 </td>
  </tr>
  <tr>
    <td> Биохимия крови: минимальный профиль( АлАТ, АсАт, билир.общ., билир.прям., ГГТ, Глюкоза, фосфатаза щел., общ.белок, белк. фракции, креат., мочев., холест, K/Na/Cl) </td>
    <td> 500 </td>
  </tr>
  <tr>
    <td> Щитовидная железа: расширенное обследование(ТТГ, АТ-ТПО,АТ-ТГ, Т4 св.,Т3 св.,) </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Щитовидная железа: скрининг(ТТГ, АТ-ТПО, Т4 св.) </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Госпитализация в терапевтический стационар (АОК, лейкофор., СОЭ, ВИЧ 1 и 2, HBsAg, anti-HCV, сифилис RPR, АлАТ, АсАТ, билир.общ., билир.прям., ГТГ, глюкоза, креат., мочев., общ.белок, фосфатаза щел., K/Na/Cl, ОАМ) </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> Госпитализация в хирургический стационар (АЧТВ, протром., МНО, фибриноген, антитромб. III, гр.кр., резус-фактор, АОК, лейкофор., СОЭ, ВИЧ 1 и 2, HBsAg, anti-HCV, сифилис RPR, АлАТ, АсАТ, билир.общ., билир.прям., ГТГ, глюкоза, креат., мочев., общ.белок, фосфатаза щел., K/Na/Cl, ОАМ) </td>
    <td> 2750 </td>
  </tr>
  <tr>
    <td> Госпитализация в ХИРУРГИЧЕСКИЙ стационар: расширенное обследование (АЧТВ, протром., МНО, фибриноген, антитромб. III, гр.кр., резус-фактор, АОК, лейкофор., СОЭ, ВИЧ 1 и 2, HBsAg, anti-HCV, сифилис RPR, АлАТ, АсАТ, билир.общ., билир.прям., ГТГ, глюкоза, креат., мочев., общ.белок, фосфатаза щел., K/Na/Cl, ОАМ, тромб.вр., альбум., триглицер., холест., посев на зол. стафилоккок, посев на шингеллы, сальмонеллы) </td>
    <td> 3650 </td>
  </tr>
  <tr>
    <td> Здоров ты – здорова страна: ежегодное профилактическое обследование (до 40 лет) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Женский гормональный профиль: дисфункция яичников, нарушения менструального цикла(ФСГ, ЛГ, Пролактин, Эстрадиол, Тестостерон, ТТГ, ДЭА-SO4, Кортизол, 170ОН-прогест., ГСПГ) </td>
    <td> 1750 </td>
  </tr>
  <tr>
    <td> Проблемы невынашивания: аутоиммунный профиль </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> Оценка андрогенного статуса( тестостерон, ГСПГ, 17-ОН-прогест, ДЭА-SO4) </td>
    <td> 1100 </td>
  </tr>
  <tr>
    <td> Хочу стать мамой: комплексное обследование при планировании беременности (ОАК, гр.кр., резус-фактор, ВИЧ 1 и 2, HBsAg, anti-HCV, сифилис(anti-Tr.pallidum IgG+IgM), АлАТ, АсАТ, билир.общ., глюкоза, креат., общ.белок, ФСГ, ЛГ, пролактин, Е2, ТТГ, тестостерон, ДЭА-SO4, anti-Rubella IgG, anti-Toxoplasma IgG, anti-CMV IgG, anti-HSV IgG, anti-CMV IgG, anti-HSV IgG, anti-Chl.trachomatis IgA/IgG) </td>
    <td> 4500 </td>
  </tr>
  <tr>
    <td> TORCH-инфекции </td>
    <td> 1800 </td>
  </tr>
  <tr>
    <td> Беременность: 1-й триместр (1-13 недели) </td>
    <td> 2850 </td>
  </tr>
  <tr>
    <td> Беременность: 2-й триместр (14-28 недели) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Беременность: 3-й триместр (от 29-30 недель) </td>
    <td> 1200 </td>
  </tr>
  <tr>
    <td> Планирование беременности: диагностика урогенитальных инфекций (микроскоп. Иссл-е мазка, ПЦР: Chl.trachomatis, HSV I, II, M. hominis, U. urealyticum, N.gonorrhoeae, tr.vaginalis, M.genitalium, U.parvum) </td>
    <td> 1400 </td>
  </tr>
  <tr>
    <td> Здоровый ребёнок: для детей от 0 до 14 лет </td>
    <td> 350 </td>
  </tr>
  <tr>
    <td> ВИЧ, сифилис, гепатит В, С </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> Секс в большом городе: 6 инфекций (анализ крови)(ВИЧ1,2, HBsAg, anti-HBc, anti-HCV, сифилис RPR, сифилис(anti-tr. Pallidum IgG+IgM), anti-Chl.trachomatis IgA/IgG, anti-HSV(2 тип) IgG </td>
    <td> 2300 </td>
  </tr>
  <tr>
    <td> Секс в большом городе: 14 инфекций + мазок на микрофлору ( микроскоп. иссл-е мазка: ВИЧ 1, 2, anti-tr.pallidum IgM+IgG, HBsAg, anti-HCV; ПЦР: Chl. Trachomatis, M.hominis, ureaplasma SPP, G.vaginalis, N.gonorrhoeae, tr.vaginalis, M.genitalium, HSV I, II; HPV 16,18) </td>
    <td> 2500 </td>
  </tr>
  <tr>
    <td> Секс в большом городе: 12 инфекций + КВМ (урогенитальный соскоб) ( Chl. Trachomatis, M.hominis, ureaplasma SPP, G.vaginalis, N.gonorrhoeae, tr.vaginalis, M.genitalium, HSV I, II; CMV, HPV-16, 18, Candida albicans, KВМ) </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> Секс в большом городе: 8 инфекций + мазок на микрофлору ( микроскоп. иссл-е мазка: ВИЧ 1, 2, anti-tr.pallidum IgM+IgG, HBsAg, anti-HCV; ПЦР: Chl. Trachomatis, N.gonorrhoeae, tr.vaginalis, M.genitalium) </td>
    <td> 1400 </td>
  </tr>
  <tr>
    <td> Проблемы веса (первичное обследование здоровья пациентов с нарушениями веса) (HbA1c, глюкоза, холест., ЛПВП, ЛПНП, триглиц., ТТГ, пролактин, кортизол, лептин) </td>
    <td> 1850 </td>
  </tr>
  <tr>
    <td> Перед диетой: минимальное обследование HbA1C, холест. общ., ЛПНП, ЛПВП, триглиц., индекс атерогенности, глюкоза, ТТГ) </td>
    <td> 2300 </td>
  </tr>
  <tr>
    <td> Перед диетой: дополнительное обследование (ОАК, лейкоформ., СОЭ, общ.белок, мочев. кисл., креатин., мочев., альфа-амилаза, АлАТ, АсАТ, билир.общ., ГТГ, фибриноген Т4св., пролактин, тестостерон, ГСПГ, ФСГ, ЛГ, кортизол, С-пептид) </td>
    <td> 3250 </td>
  </tr>
  <tr>
    <td> VIP-обследование для женщин(более 100 показателей) </td>
    <td> 5950 </td>
  </tr>
  <tr>
    <td> VIP-обследование для мужчин(более 100 показателей) </td>
    <td> 5850 </td>
  </tr>
  <tr>
    <td> ОРЗ, ОРВИ (насморк, кашель, боль в горле) </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Аллергия на животных, пыль, плесень </td>
    <td> 3250 </td>
  </tr>
  <tr>
    <td> Аллергия на пищевые продукты </td>
    <td> 4850 </td>
  </tr>
  <tr>
    <td> Аллергия на плесень </td>
    <td> 1350 </td>
  </tr>
  <tr>
    <td> Аллергия на растения </td>
    <td> 2200 </td>
  </tr>
  <tr>
    <td> Гемостазиограмма (коагулограмма), скрининг (Протромбин, (по Квику) , МНО, Фибриноген, АЧТВ, Тромб.время) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Гемостазиограмма (коагулограмма) расширенная (Протромбин, (по Квику) , МНО, Фибриноген, АЧТВ, Тромб.время, Антитром. III, Д-Димер, Плазминоген, % активности) </td>
    <td> 2300 </td>
  </tr>
  <tr  class="price-table__inner-header">
    <td> Определение запасов микроэлементов в организме </td>
    <td></td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Микроэлементы в сыворотке и цельной крови </td>
    <td></td>
  </tr>
  <tr>
    <td> Основные эссенциальные (жизненно необходимые) микроэлементы в сыворотке </td>
    <td> 1150 </td>
  </tr>
  <tr>
    <td> Токсичные микроэлементы (тяжёлые металлы) в цельной крови </td>
    <td> 1150 </td>
  </tr>
  <tr>
    <td> Микроэлементы в сыворотке и цельной крови: скрининг </td>
    <td> 2500 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Микроэлементы в моче </td>
    <td></td>
  </tr>
  <tr>
    <td> Эссенциальные (жизненно необходимые) и токсичные микроэлементы в моче </td>
    <td> 1900 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Микроэлементы в волосах </td>
    <td></td>
  </tr>
  <tr>
    <td> Токсичные микроэлементы в волосах </td>
    <td> 1550 </td>
  </tr>
  <tr>
    <td> Токсичные и эссенциальные микроэлементы в волосах </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> Большой скрининг элементного состава волос </td>
    <td> 3000 </td>
  </tr>
  <tr class="price-table__inner-subheader">
    <td> Микроэлементы в ногтях </td>
    <td></td>
  </tr>
  <tr>
    <td> Токсичные микроэлементы в ногтях </td>
    <td> 1500 </td>
  </tr>
  <tr>
    <td> Токсичные и эссенциальные микроэлементы в ногтях </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> Большой скрининг элементного состава ногтей </td>
    <td> 3000 </td>
  </tr>
  <tr>
    <td> Электрофорез белков мочи, определение типа протеинурии (Protein Electrophoresis, Urine) </td>
    <td> 1650 </td>
  </tr>
  <tr>
    <td> Белок Бенс-Джонса в моче, скрининг с применением иммунофиксации и количественное определение (Bence-Jones Protein, Urine: Immunofixation, Quantification) </td>
    <td> 2000 </td>
  </tr>
  <tr>
    <td> Белок Бенс-Джонса в моче: иммунофиксация, количественное определение, типирование каппа, лямбда (Bence-Jones Protein: Electrophoresis, Immunofixation, Kappa/Lambda Typing) </td>
    <td> 3100 </td>
  </tr>
</tbody></table>
