<table class="price-table stack">
  <thead>
    <tr>
      <td>Тест </td>
      <td>Цена</td>
    </tr>
  </thead>
  <tbody>
  <tr class="price-table__inner-header">
    <td> Сальмонеллы (брюшной тиф, паратиф, сальмонеллез) </td>
    <td></td>
  </tr>
  <tr>
    <td> РПГА с Salmonella typhi (антитела к возбудителю брюшного тифа методом РПГА) </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella gr.A (Salmonella gr.A, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella gr.B (Salmonella gr.B, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella gr.С (Salmonella gr.C, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella gr.D (Salmonella gr.D, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Антитела к Salmonella gr.E, РПГА (Salmonella gr.E antibodies, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella O-комплекс (Salmonella O-antigens, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Шигеллы (шигеллез, дизентерия) </td>
    <td></td>
  </tr>
  <tr>
    <td> РПГА с Shigella flexneri 1-5 (Shigella flexneri 1-5, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Shigella flexneri 6 (Shigella flexneri 6, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Shigella sonnei (Shigella sonnei, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Иерсинии (иерсиниоз, псевдотуберкулез) </td>
    <td></td>
  </tr>
  <tr>
    <td> РПГА с Yersinia pseudotuberculosis (Y. pseudotuberculosis IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Yersinia Enterocolitica серотипа О3 (Y. enterocolitica O3, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Yersinia Enterocolitica серотипа О:9 (Y. enterocolitica O:9, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr class="price-table__inner-header">
    <td> Тиф сыпной </td>
    <td></td>
  </tr>
  <tr>
    <td> РПГА с сыпнотифозным диагностикумом риккетсий Провачека (Rickettsia prowazekii, IHA) </td>
    <td> 600 </td>
  </tr>
</tbody></table>
