<table class="analizi-table">
  <tbody><tr>
    <td>Тест </td>
    <td>Цена</td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Сальмонеллы (брюшной тиф, паратиф, сальмонеллез) </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella typhi (антитела к возбудителю брюшного тифа методом РПГА) </td>
    <td> 700 </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella gr.A (Salmonella gr.A, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella gr.B (Salmonella gr.B, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella gr.С (Salmonella gr.C, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella gr.D (Salmonella gr.D, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> Антитела к Salmonella gr.E, РПГА (Salmonella gr.E antibodies, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Salmonella O-комплекс (Salmonella O-antigens, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Шигеллы (шигеллез, дизентерия) </td>
  </tr>
  <tr>
    <td> РПГА с Shigella flexneri 1-5 (Shigella flexneri 1-5, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Shigella flexneri 6 (Shigella flexneri 6, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Shigella sonnei (Shigella sonnei, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Иерсинии (иерсиниоз, псевдотуберкулез) </td>
  </tr>
  <tr>
    <td> РПГА с Yersinia pseudotuberculosis (Y. pseudotuberculosis IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Yersinia Enterocolitica серотипа О3 (Y. enterocolitica O3, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr>
    <td> РПГА с Yersinia Enterocolitica серотипа О:9 (Y. enterocolitica O:9, IHA) </td>
    <td> 600 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Тиф сыпной </td>
  </tr>
  <tr>
    <td> РПГА с сыпнотифозным диагностикумом риккетсий Провачека (Rickettsia prowazekii, IHA) </td>
    <td> 600 </td>
  </tr>
</tbody></table>
