<table class="analizi-table">
  <tbody><tr>
    <td>Тест </td>
    <td>Цена</td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Клинические тесты </td>
  </tr>
  <tr>
    <td> Общий анализ мочи (с микроскопией осадка) </td>
    <td> 200 </td>
  </tr>
  <tr>
    <td> Исследование мочи по Нечипоренко </td>
    <td> 150 </td>
  </tr>
  <tr>
    <td> Кальций мочи (проба Сулковича) </td>
    <td> 250 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Биохимия мочи (суточная экскреция) </td>
  </tr>
  <tr>
    <td> Альбумин (Albumin) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Альбумин/креатинин-соотношение в разовой порции мочи (Отношение альбумина к креатинину в разовой порции мочи) (Albumin-to-creatinine ratio, ACR, random urine) </td>
    <td> 300 </td>
  </tr>
  <tr>
    <td> Глюкоза (Glucose) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Креатинин (Creatinine) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Проба Реберга (клиренс эндогенного креатинина, скорость клубочковой фильтрации, Glomerular filtration rate, GFR) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Альфа-Амилаза (порционная моча/ суточная моча) (Диастаза, Amylase, urine/24-h urine) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Мочевина (Urea) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Мочевая кислота (Uric acid) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Общий белок (Protein total) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Кальций (Calcium) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Калий, Натрий (Potasium, Sodium) </td>
    <td> 150 </td>
  </tr>
  <tr>
    <td> Фосфор (Phosphorus) </td>
    <td> 100 </td>
  </tr>
  <tr>
    <td> Бета-2-микроглобулин (в моче) (Beta-2 microglobulin, urine) </td>
    <td> 400 </td>
  </tr>
  <tr>
    <td> Оксалаты мочи (Oxalate, urine) </td>
    <td> 1100 </td>
  </tr>
  <tr class="analizi-table__inner-header">
    <td colspan="2"> Исследование почечного камня </td>
  </tr>
  <tr>
    <td> Камни почечные, анализ (Calculi (Stone) Analysis) </td>
    <td> 3700 </td>
  </tr>
</tbody></table>
