<table class="profile-table stack unstriped">
  <tbody>
    <tr>
      <td>Специальность</td>
      <td>Врач УЗИ</td>
    </tr>
    <tr>
      <td>Специализация</td>
      <td>
        <ul class="profile-list">
          <li class="profile-list__item">УЗИ диагностика</li>
          <li class="profile-list__item">УЗИ беременных</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Образование</td>
      <td>Московский государственный медицинский институт имени Н.И. Пирогова </td>
    </tr>
    <tr>
      <td>Опыт работы</td>
      <td>
        <ul class="profile-list">
          <li class="profile-list__item">Тамбовская областная больница</li>
          <li class="profile-list__item">Медицинский Центр «Галиум»</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Курсы повышения квалификации</td>
      <td>
        <ul class="profile-list">
          <li class="profile-list__item">"УЗИ", Национальный медико-хирургический центр имени Н.И. Пирогова (2006 г.)</li>
          <li class="profile-list__item">"УЗИ новорожденных", Национальный медико-хирургический центр имени Н.И. Пирогова (2016 г.)</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
