.logo {
    display: flex;
    align-items: center;


    &__tag {
      color: $white;
      margin-left: 1em;
      padding-left: 1em;
      border-left: 1px solid $white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: .9em;
    }

    &--topheader {
      align-items: center;
      margin-top: 20px;
    }
}

.logo__img {
    width: 160px;
    height: auto;
}


.logo-cross {
  width: 100px;
  height: auto;
}
