table.unstriped tbody {
  background: transparent;
}
// profile-table

.profile-table {

  font-size: .9em;


  tbody {
    border: 0;
    background: transparent !important;

  }

  tr {
    background: transparent !important;
  }

  td {
    vertical-align: top;
    background: transparent !important;
    padding-left: 0;
  }

  td:nth-child(odd){
    font-weight: bold;
  }
}


// profile list

.profile-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {

    &:before {
      font-family: 'FontAwesome';
      content: "\f14a";
      padding-right: .5em;
      color: $black;
    }
  }
}
