<div class="appointment-form__area">
  <h2>Запись на прием:</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus excepturi nemo accusamus voluptate quam esse quisquam velit soluta, quia laborum.</p>
  <form class="appointment-form" action="">
    <div class="grid-x grid-margin-x">
      <div class="medium-6 cell">
        <select>
          <option value="husker">Терапевт</option>
          <option value="starbuck">Кардиолог</option>
          <option value="hotdog">УЗИ</option>
          <option value="apollo">Анализы</option>
        </select>
      </div>
      <div class="medium-6 cell">
        <input type="text" placeholder="Дата">
      </div>
      <div class="medium-6 cell">
        <select>
          <option value="husker">Белоусова</option>
          <option value="starbuck">Хазов</option>
          <option value="hotdog">Яковлев</option>
          <option value="apollo">Мацкевич</option>
        </select>
      </div>
      <div class="medium-6 cell">
        <input type="text" placeholder="Время">
      </div>
      <div class="medium-6 cell">
        <input type="text" placeholder="Полное имя">
        <input type="text" placeholder="Телефон">
      </div>
      <div class="medium-6 cell">
        <textarea class="appointment-form__textarea"  name="name" rows="4" cols="40"  placeholder="Информация для врача"></textarea>
      </div>
      <div class="medium-12 cell">
        <a class="btn" href="#">Записаться на прием
          <div class="btn__iconbox">
            <span class="btn__icon icon-arrow-right2"></span>
          </div>
        </a>
      </div>
    </div>
  </form>
</div>
